//feedback page
.fdbck-img {
    content: $ImgFdbck;
    padding-bottom: 15px;
}

.modalDialog.fdbck-popup > div {
    margin: 7% auto;

    textarea {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 0 4px 4px 4px;
    }
}

//feedback & about
#userInput {
    background-image: url(/images/default/mobile/ImgFeedback.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 210px;
    width: 100%;
}

#userInput:focus {
    background-image: none;
}

.flex-start {
    a {
        text-decoration: underline;
        text-underline-offset: 3.5px;
    }

    .button {
        color: $colTxtDsbl;
    }

    .button.highlighted {
        background-color: $BgrndCol !important;
        color: $WhtTxtClr;
    }
}
