// Responsive
@media (max-width: 900px) {
    .content-grid {
        grid-template-columns: 1fr;
    }

    .quick-actions-grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 620px) {
    .sidebar {
        display: none;
    }

    .search-box {
        width: 200px;
    }

    .trow {
        grid-template-columns: 28px 1fr 70px 50px;
    }

    .tcol-date, .tcol-size {
        display: none;
    }
}
