/* ═══════════════════════════════════════════
   Sidebar – Expanded
════════════════════════════════════════════ */
.sidebar {
    width: var(--sidebar-w);
    background: #fff;
    border-right: 1px solid $border;
    display: flex;
    flex-direction: column;
    padding: 16px 0 12px;
    flex-shrink: 0;
    overflow: hidden;
    transition: var(--sidebar-transition);
    position: relative;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 12px 20px;
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.brand-icon {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

.brand-name {
    flex: 1;
    opacity: 1;
    transition: opacity 0.18s, width 0.18s;
}

.toggle-btn {
    margin-left: auto;
    flex-shrink: 0;
    background: none;
    border: 1px solid $border;
    border-radius: 6px;
    padding: 3px 5px;
    cursor: pointer;
    color: $text-muted;
    display: flex;
    align-items: center;
    transition: background .15s, color .15s;
}

    .toggle-btn:hover {
        background: $bg-page;
        color: $text-primary;
    }

.toggle-btn-collapsed {
    display: none;
    width: 36px;
    height: 36px;
    margin: 0 auto 14px;
    //background: $brand-green-lt;
    border: 1.5px solid $brand-green;
    border-radius: 50%;
    cursor: pointer;
    color: $brand-green;
    align-items: center;
    justify-content: center;
    transition: background .15s;
    flex-shrink: 0;
}

    .toggle-btn-collapsed:hover {
        background: #bfdbfe;
    }

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    padding: 0 8px;
    overflow: hidden;
}

.nav-icon {
    display: flex;
    align-items: center;
    opacity: .75;
    flex-shrink: 0;

    &.nav-home-ico {
        content: $IcoUsersHMDefault;
    }
    /* &.nav-files-ico {
        content: $IcoScrdFldrDefault;
    }*/

    &.nav-folders-ico {
        content: $IcoScrdFldrDefault;
    }

    &.nav-vault-ico {
        content: $ImgVltIcon;
    }

    &.nav-pwdmggr-ico {
        content: $IcoScrtsDefault;
    }

    &.nav-secdmsgr-ico {
        content: $IcoScrdMssngrDefault;
    }

    &.nav-txtencryp-ico {
        content: $IcoTxtEncryptDefault;
    }

    &.nav-tools-ico {
        content: $IcoToolsDefault;
    }

    &.nav-usractvy-ico {
        content: $IcoFileLgng;
    }

    &.nav-suprt-ico {
        content: $IcoSupportDefault;
    }

    &.nav-feedbck-ico {
        content: $IcoFdbckDefault;
    }

    &.about-us-ico {
        content: $IcoInfOldDefault;
    }
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px 10px;
    border-radius: 7px;
    color: $text-secondary;
    text-decoration: none;
    font-size: 13.5px;
    transition: background .15s, color .15s;
    white-space: nowrap;
    overflow: hidden;
}

    .nav-item:hover, .nav-item--active {
        background: $brand-green-lt;
        color: $active-text-cr;
        font-weight: 600;

        .nav-home-ico {
            content: $IcoUsersDefault;
        }
        //.nav-files-ico {
        //    content: $IcoScrdFldrActive;
        //}

        .nav-folders-ico {
            content: $IcoScrdFldrActive;
        }

        .nav-vault-ico {
            content: $ImgVltIconActive; //$IcoScrtsActive
            width: 20px;
            height:20px;
        }

        .nav-pwdmggr-ico {
            content: $IcoScrtsActive;
        }

        .nav-secdmsgr-ico {
            content: $IcoScrdMssngrActive;
        }

        .nav-txtencryp-ico {
            content: $IcoTxtEncryptActive;
        }

        .nav-tools-ico {
            content: $IcoToolsActive;
        }

        .nav-suprt-ico {
            content: $IcoSupportActive;
        }
    }

.nav-label {
    flex: 1;
    transition: opacity 0.15s;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-lock-icon {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center
}

.sidebar-collapsed .nav-lock-icon {
    display: none
}

.nav-item--locked {
    opacity: .7
}
