.sidebar {
  background: conic-gradient(from 11deg at 98.18% 128.62%, rgba(0, 0, 0, 0.5) 0deg, rgba(0, 0, 0, 0.03) 353.4774041176deg);
  height: 100%;
  max-width: 100%;
}

.navbar {
  padding: 0 !important;
}
.navbar .container-fluid {
  padding: 0 !important;
}

.sidemenu-axc-logo {
  margin: 36px 66px 0 44px;
  max-width: 286px;
  max-height: 71px;
  content: url(/images/axcrypt_text.png);
}

.sidemenu-axc-no-text-logo {
  margin: 36px 20px 0 19px;
  max-width: 65px;
  max-height: 70px;
  content: url(/images/axcryptIcon.png);
}

.account {
  content: url(/images/default/IcoBus.svg);
  height: 19px;
  width: 23px;
}

.scrdfldr {
  content: url(/images/default/icoScrdFldr.svg);
  height: 23px;
  width: 17.6px;
}

.scrts {
  content: url(/images/default/IcoScrts.svg);
  height: 20px;
  width: 17.6px;
}

.scrdmssngr {
  content: url(/images/default/IcoScrdMssngr.svg);
  height: 20px;
  width: 17.6px;
}

.txtencrpt {
  content: url(/images/default/IcoTxtEncrypt.svg);
  height: 20px;
  width: 17.6px;
}

.notifctn {
  content: url(/images/default/IcoActivity.svg);
  width: 20px;
  height: 20px;
}

.suprt {
  content: url(/images/default/IcoSupport.svg);
  width: 20px;
  height: 20px;
}

.fdbck {
  content: url(/images/default/IcoFdbck.svg);
  width: 20px;
  height: 20px;
}

.info {
  content: url(/images/default/IcoInfOld.svg);
  width: 16px;
  height: 16px;
}

.nav-item a {
  color: #A4A4A4;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}
.nav-item span {
  margin-right: 20px;
}
.nav-item .nav-text {
  vertical-align: super;
}

.nav-item .one.active,
.nav-item .two.active,
.nav-item .three.active,
.nav-item .four.active,
.nav-item .five.active,
.nav-item .six.active,
.nav-item a:hover,
.footer-menu a.active,
.footer-menu a:hover,
.abt-sec .nav-link.active {
  background-color: #FFFFFF;
  color: #000;
  width: 98%;
}
.nav-item .one.active .account,
.nav-item .two.active .account,
.nav-item .three.active .account,
.nav-item .four.active .account,
.nav-item .five.active .account,
.nav-item .six.active .account,
.nav-item a:hover .account,
.footer-menu a.active .account,
.footer-menu a:hover .account,
.abt-sec .nav-link.active .account {
  content: url(/images/business/IcoBus.svg);
}
.nav-item .one.active .scrdfldr,
.nav-item .two.active .scrdfldr,
.nav-item .three.active .scrdfldr,
.nav-item .four.active .scrdfldr,
.nav-item .five.active .scrdfldr,
.nav-item .six.active .scrdfldr,
.nav-item a:hover .scrdfldr,
.footer-menu a.active .scrdfldr,
.footer-menu a:hover .scrdfldr,
.abt-sec .nav-link.active .scrdfldr {
  content: url(/images/business/icoScrdFldr.svg);
}
.nav-item .one.active .scrts,
.nav-item .two.active .scrts,
.nav-item .three.active .scrts,
.nav-item .four.active .scrts,
.nav-item .five.active .scrts,
.nav-item .six.active .scrts,
.nav-item a:hover .scrts,
.footer-menu a.active .scrts,
.footer-menu a:hover .scrts,
.abt-sec .nav-link.active .scrts {
  content: url(/images/business/IcoScrts.svg);
}
.nav-item .one.active .scrdmssngr,
.nav-item .two.active .scrdmssngr,
.nav-item .three.active .scrdmssngr,
.nav-item .four.active .scrdmssngr,
.nav-item .five.active .scrdmssngr,
.nav-item .six.active .scrdmssngr,
.nav-item a:hover .scrdmssngr,
.footer-menu a.active .scrdmssngr,
.footer-menu a:hover .scrdmssngr,
.abt-sec .nav-link.active .scrdmssngr {
  content: url(/images/business/IcoScrdMssngr.svg);
}
.nav-item .one.active .txtencrpt,
.nav-item .two.active .txtencrpt,
.nav-item .three.active .txtencrpt,
.nav-item .four.active .txtencrpt,
.nav-item .five.active .txtencrpt,
.nav-item .six.active .txtencrpt,
.nav-item a:hover .txtencrpt,
.footer-menu a.active .txtencrpt,
.footer-menu a:hover .txtencrpt,
.abt-sec .nav-link.active .txtencrpt {
  content: url(/images/business/IcoTxtEncrypt.svg);
}
.nav-item .one.active .notifctn,
.nav-item .two.active .notifctn,
.nav-item .three.active .notifctn,
.nav-item .four.active .notifctn,
.nav-item .five.active .notifctn,
.nav-item .six.active .notifctn,
.nav-item a:hover .notifctn,
.footer-menu a.active .notifctn,
.footer-menu a:hover .notifctn,
.abt-sec .nav-link.active .notifctn {
  content: url(/images/business/IcoActivity.svg);
}
.nav-item .one.active .suprt,
.nav-item .two.active .suprt,
.nav-item .three.active .suprt,
.nav-item .four.active .suprt,
.nav-item .five.active .suprt,
.nav-item .six.active .suprt,
.nav-item a:hover .suprt,
.footer-menu a.active .suprt,
.footer-menu a:hover .suprt,
.abt-sec .nav-link.active .suprt {
  content: url(/images/business/IcoSupport.svg);
}
.nav-item .one.active .fdbck,
.nav-item .two.active .fdbck,
.nav-item .three.active .fdbck,
.nav-item .four.active .fdbck,
.nav-item .five.active .fdbck,
.nav-item .six.active .fdbck,
.nav-item a:hover .fdbck,
.footer-menu a.active .fdbck,
.footer-menu a:hover .fdbck,
.abt-sec .nav-link.active .fdbck {
  content: url(/images/business/IcoFdbck.svg);
}
.nav-item .one.active .info,
.nav-item .two.active .info,
.nav-item .three.active .info,
.nav-item .four.active .info,
.nav-item .five.active .info,
.nav-item .six.active .info,
.nav-item a:hover .info,
.footer-menu a.active .info,
.footer-menu a:hover .info,
.abt-sec .nav-link.active .info {
  content: url(/images/business/IcoInfOld.svg);
}

.abt-sec {
  position: absolute;
  bottom: 3vh;
}

.prgrs-bar-sec {
  position: absolute;
  bottom: 18vh;
}

.flex-column .nav-link.active.one,
.flex-column .nav-link.active.two,
.flex-column .nav-link.active.three,
.flex-column .nav-link.active.four,
.flex-column .nav-link.active.five,
.flex-column .nav-link.active.six {
  background-image: url(/images/business/IcoIndctr.svg);
  background-repeat: no-repeat;
  background-position: top 4px right;
}

.oi {
  left: 7px !important;
}

.hide-icon {
  content: url(/images/business/BtnHd.svg);
  float: right;
  padding-top: 110px;
  margin-right: -12px;
  cursor: pointer;
}

.expbd-icon {
  content: url(/images/business/BtnExpbd.svg);
  float: right;
  margin-top: 110px;
  cursor: pointer;
  overflow: visible !important;
  position: absolute;
  left: 80px;
}

.nav-link {
  overflow: hidden;
  padding: 5px;
}

.fdbck-img {
  content: url(/images/business/ImgFdbck.svg);
  padding-bottom: 15px;
}

.modalDialog.fdbck-popup > div {
  margin: 7% auto;
}
.modalDialog.fdbck-popup > div textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0 4px 4px 4px;
}

.flex-start .button {
  background-color: #D9D9D9;
  font-size: 12px;
  border-radius: 4px 4px 0px 0px;
  height: 32px;
}

.flex-start .button.highlighted {
  background-color: #232323 !important;
  color: #FFF;
}

.abt-axc a {
  color: #000000;
}

.progres-sec {
  margin-top: 190px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 80px;
  background: #B7B7B7;
  padding: 15px 10px;
  border-radius: 8px;
}

.progress-bar {
  background-color: #232323;
  height: 100%;
  width: 0%;
  border-radius: 4px;
  transition: width 0.1s ease;
}

.fist-rw {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  color: #FFFFFF;
}
.fist-rw div:nth-child(2) {
  font-weight: 700;
  font-size: 11px;
}
.fist-rw label {
  font-size: 12px;
}

.progress-container {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  height: 10px;
  position: relative;
}

.progress-bubble-start {
  position: absolute;
  top: 0px;
  right: -5px;
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  transition: left 0.1s ease;
  z-index: 1;
  margin-left: -10px;
}

.progress-bubble-end {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 10px;
  width: 10px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 50%;
}

.progres-fle-txt {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.progress-circle-sec {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-wrapper {
  position: relative;
  width: 64px;
  height: 64px;
}

.progress-circle {
  transform: rotate(90deg);
}

.progress-background {
  fill: none;
  stroke: #B7B7B7;
  stroke-width: 8;
}

.progress-value {
  fill: none;
  stroke: #232323;
  stroke-width: 8;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.1s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

@media (max-width: 768px) {
  .account {
    filter: brightness(1);
  }
  .sidebar {
    width: 90%;
    z-index: 1;
    overflow-y: hidden !important;
    border-radius: 0px 32px 32px 0px;
    background: #d5d5d5;
  }
  .menu-ico {
    background-image: url(/images/business/IcoBrgMn.svg);
    width: 42px;
    height: 32px;
  }
  .axc-icon {
    height: 46px;
    padding-left: 20px;
    padding-top: 90px;
  }
  .mbl-mre-act {
    width: 88px;
    height: 88px;
    background: #494949;
    border-radius: 50px;
    padding: 25px 5px;
    box-shadow: 0px 8px 16px rgba(97, 129, 82, 0.3);
    position: fixed;
    bottom: 25px;
    display: flex;
    justify-content: center;
    margin: auto 37%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-item a.active,
  .nav-item a:hover {
    text-decoration: underline;
    text-underline-offset: 1.85em;
    text-decoration-thickness: 0.4em;
  }
  .footer-menu.nav-item a {
    padding: 0px;
  }
  .footer-menu.nav-item span {
    margin-right: 5px;
  }
  .mobile-footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    text-align: center;
    color: white;
    width: 100%;
    height: 85px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 32px 32px 0px 0px;
    background: var(--colBG, #FFF);
    box-shadow: 0px 2px 10px 4px rgba(190, 189, 189, 0.25);
  }
  #mreActFeat {
    justify-content: center;
  }
  .footer-menu {
    text-align: center;
    padding: 10px 3px 10px;
    line-height: 14px;
  }
  .footer-menu a {
    color: #CACACA;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }
  .footer-menu a.active,
  .footer-menu a:hover {
    color: #000;
    background-color: #fff;
  }
  .footer-menu a.active .mb-pwd-mngr,
  .footer-menu a:hover .mb-pwd-mngr {
    content: url(/images/business/IcoPwdMngr.svg);
  }
  .footer-menu img {
    width: 24px;
    height: 20px;
  }
  .footer-popup {
    display: flex;
    position: fixed;
    bottom: 90px;
  }
  .active-plan {
    display: flex;
    position: relative;
  }
  .cstmz-actn {
    width: 64px;
    height: 64px;
    background-color: #FFF;
    border: 2px solid #232323;
    border-style: dotted;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(43, 70, 27, 0.3);
  }
  .mre-rnd {
    width: 64px;
    height: 64px;
    background: #494949;
    box-shadow: 0px 5px 12px 1px rgba(132, 132, 132, 0.3);
    border-radius: 40px;
    padding: 18px 22px;
    position: relative;
  }
  .mre-act:nth-child(1), .mre-act:nth-child(3) {
    bottom: 0px;
  }
  .mre-act:nth-child(2) {
    bottom: 40px;
  }
  .cstmz-img {
    content: url(/images/business/IcoCstmzActn.svg);
  }
  .mre-act-dflt {
    background: #494949;
  }
  .mre-act-actv {
    background: #232323;
  }
  .mb-pwd-mngr {
    content: url(/images/default/IcoPwdMngr.svg);
  }
  #userInput {
    background-image: url(/images/default/mobile/ImgFeedback.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 340px;
    width: 100%;
  }
  #userInput:focus {
    background-image: none;
  }
  .flex-start a {
    text-decoration: underline;
    text-underline-offset: 3.5px;
  }
  .flex-start .button {
    background: none !important;
    border-radius: 8px;
    height: 46px;
    color: #CACACA;
    font-weight: 700;
    font-size: 16px;
  }
  .flex-start .button.highlighted {
    background-color: #969696 !important;
    color: #000;
  }
  .mb-abt-axc {
    color: #A4A4A4;
  }
  .mb-abt {
    padding-bottom: 30px;
    line-height: 21px;
  }
  .mb-abt img {
    height: 62px;
  }
  .mb-abt.flex-start {
    gap: 5%;
  }
  .icofb {
    content: url(/images/business/mobile/IcoFb.svg);
  }
  .icoinst {
    content: url(/images/business/mobile/IcoInst.svg);
  }
  .icoln {
    content: url(/images/business/mobile/IcoLn.svg);
  }
  .icotw {
    content: url(/images/business/mobile/IcoTw.svg);
  }
  .progres-sec {
    position: absolute;
    bottom: 20px;
    padding: 8px 20px;
    height: 70px;
    z-index: 1;
    width: 300px;
  }
  .fist-rw {
    padding-bottom: 0px;
  }
}
.nav-subs-upg {
  display: none !important;
}
