@import "../_basevariables";

//colors
$HdTxtClr: #494949;
$ActnBgClr: #86B96E;
$BorderClr: #86B96E;
$TxtClr: #86B96E;
$BtnBackClr: #48772C;
$BoxShadowClr: rgba(49, 73, 35, 0.25);
$SdeMnuTxtClr: #FFFFFF;
$SdeMnubgndClr: #86B96E;
$SdebrbgndClr: #FFFFFF;
$SdebrbgndClrMb: rgba(181, 206, 169, 1);
$colVwrAvtr: #D2DCCD;
$colTxtlble: #000000;
$TblhdBgClr: #E5ECE1;
$colVwr: #48772C;
$Colsublvl: #86B96E;
$colBtnPrmActv: #86B96E;
$colTxtRglrHd: #494949;
$colActvMb: #D2DCCD;
$colMbrDsbl: #96AD88;
$colDsblBg: #D9D9D9;
$FlbgMb: #D2DCCD;
$FltxtAct: #86B96E;
$FlActBg: #B5CEA9;
$colFldMbbxshdw: rgba(89, 129, 65, 0.30);
$colBg: #48772C;
$MreActBg: #86B96E;
$BgrndCol: #86B96E;
$PflBg: #D2DCCD;
$colTxtHd: #86B96E;
$fltTxtClr: #86B96E;
$colTxtSubHd: #86B96E;
$colToggleBtn: #86B96E;
$colActive: #86B96E;
$colBtnStrk: #86B96E;
$colNtfctnNw: #E5ECE1;
$colLckd: rgba(217, 217, 217, 0.3);
$ImgBGCard: #86B96E;
$colTxtPrmBd: #FFFFFF;
$CanSubsClr: #D2DCCD;
$colAvtr: #D2DCCD;
$FileBg: #EDF1EA;
$SucssBtnBgDflt: #96AD88;
$TbleBg: #EEF7E9;
$shrwithbox: #B5CEA9;
$fileboxbckgrd: #E1F2D8;
$psmgrBgClr: #D2DCCD;
$psmgrTxtClr: #86B96E;
$colshareActive: #86B96E;
$ShareSecretBack: #E1F2D8;
$NotiPassBack: #48772C;
$ShareWidBg: #DAE7D4;
$HglhtTxt: #B7B7B7;

//images
$IcoEye: url(/images/free/IcoEye.svg);
$Ico256: url(/images/free/Ico256.svg);
$IcoIncldFldrs24px: url(/images/free/IcoIncldFldrs24px.svg);
$IcoSlpMd: url(/images/free/IcoSlpMd.svg);
$IcoRstr: url(/images/free/IcoRstr.svg);
$IcoAdvsSttns: url(/images/free/IcoAdvsSttns.svg);
$IcoOffln: url(/images/free/IcoOffln.svg);
$IcoEncrptSttgs: url(/images/free/IcoEncrptSttgs.svg);
$IcoInvtFrnd: url(/images/free/IcoInvtFrnd.svg);
$IcoDbg: url(/images/free/IcoDbg.svg);
$IcoChckVrsn: url(/images/free/IcoChckVrsn.svg);
$IcoOptns: url(/images/free/IcoOptns.svg);
$IcoLgng: url(/images/free/IcoLgng.svg);
$IcoUsers: url(/images/free/IcoUsers.svg);
$IcoBrkFl: url(/images/free/IcoBrkFl.svg);
$IcoChckVer: url(/images/free/IcoChckVer.svg);
$IcoChckFl: url(/images/free/IcoChckFl.svg);
$IcoErrRprt: url(/images/free/IcoErrRprt.svg);

$IcoAPIKey: url(/images/free/IcoAPIKey16px.svg);
$IcoIdea: url(/images/free/IcoIdea.svg);
$IcoVd: url(/images/free/IcoVd.svg);
$ImgPsswrdGnrt: none;
$IcoUserDefault: url(/images/default/IcoVwr.svg);
$IcoUser: url(/images/free/IcoVwr1.svg);
$IcoScrdFldr: url(/images/free/icoScrdFldr.svg);
$IcoScrts: url(/images/free/IcoScrts.svg);
$IcoScrdMssngr: url(/images/free/IcoScrdMssngr.svg);
$IcoActivity: url(/images/premium/IcoActivity.svg);
$IcoSupport: url(/images/premium/IcoSupport.svg);
$IcoFdbck: url(/images/premium/IcoFdbck.svg);
$IcoInfOld: url(/images/premium/IcoInfOld.svg);
$IcoIndctr: url(/images/free/IcoIndctr.svg);
$IcoHd: url(/images/free/BtnHd.svg);
$IcoExpbd: url(/images/free/BtnExpbd.svg);
$ImgAES256: url(/images/free/ImgAES256.svg);
$IcoBrgMn: url(/images/free/IcoBrgMn.svg);
$IcoUnrdNtfcns: Url(/images/free/IcoUnrdNtfctns.svg);
$IcoFldr: url(/images/free/IcoFldr.svg);
$IcoCstmzActn: none;
$IcoOptns: url(/images/free/IcoOptns.svg);
$IcoPwdMngrMb: url(/images/free/IcoPwdMngr.svg);
$IcoVdMb: url(/images/free/mobile/IcoVideoFile.svg);
$IcoPicMb: url(/images/free/mobile/IcoPictureFile.svg);
$IcoMusMb: url(/images/free/mobile/IcoMusicFile.svg);
$IcoDocMb: url(/images/free/mobile/IcoTextFile.svg);
$BtnFltrAct: url(/images/free/BtnFltr.svg);
$IcoSort: url(/images/free/IcoSort.svg);
$IcoBack: url(/images/free/BtnBack.svg);
$IcoSttngsActv: url(/images/free/IcoSttngsActv.svg);
$TickMark: url(/images/free/TickMark.svg);
$TitleClr: none;
$Backbtn: url(/images/free/mobile/BtnBack.svg);
$IcoNotifsublvl: url(/images/free/mobile/IcoNtfctnActv.svg);
$ScrtFilterImg: url(/images/free/IcoFilter.svg);
$ScrtPasswordImg: url(/images/free/IcoPassword.svg);
$ScrtCardImg: url(/images/free/IcoCard.svg);
$ScrtNoteImg: url(/images/free/IcoNote.svg);
$ScrtPssdMngrImg: url(/images/free/icoPssdMngr.svg);
$SecPasswordImg: url(/images/free/IconPasswordSuggest.svg);
$SecCopyImg: url(/images/free/BtnCopy.svg);
$SecTopArrowImg: url(/images/free/IcoDrpDwn.svg);
$BtnEditImg: url(/images/free/BtnEdit.svg);
$ScrtMenuIco: url(/images/free/icoPssdMngr.svg);
$SupportMenuIco: url(/images/free/IcoSupport.svg);
$LogoutMenuIco: url(/Images/Premium/IcoLogOut.svg);
$SecurityIco: url(/images/free/IcoSecurity.svg);
$NotificationIco: url(/images/free/IcoNotifi.svg);
$ShownPasswordIco: url(/images/free/IcoShownPassword.svg);
$HiddenPasswordIco: url(/images/free/IcoHiddenPassword.svg);
$ScrtImgHdHglght: url(/images/free/ImgHdHglght.svg);
$Titlelogo: url(/images/premium/IcoPrm.svg);
$SupportImg: url(/images/free/ImgVwrSrrSpprt.svg);
$colBtnDsbl: none;
$colBTnActive: none;
$SupTitlelogo: none;
$IcoDlt: url(/images/free/IcoDlt.svg);
$IcoSortBy: url(/images/premium/IcoSortBy.svg);
$IcoGrp: none;
$IcoGrpDisable: none;
$APIKeyIco: url(/images/free/IcoAPIKey.svg);
$EmailIco: url(/images/free/IcoEmail.svg);
$IcoDwnld: url(/images/free/IcoDwnld.svg);
$FrmStts: Url(/images/premium/FrmStts.svg);
$IcoDrpDwn: url(/images/free/IcoDrpDwn.svg);
$IcoKMngmnt: url(/images/free/IcoKMngmnt.svg);
$IcoUserDesk: url(/images/free/IcoVwr1.svg);
$IcoErr: url(/images/free/IcoErr.svg);
$IcoSngOut: url(/images/free/IcoSngOut.svg);
$IcoUnrdNtfctns: url(/images/premium/IcoUnrdNtfctns.svg);
$IcoRefresh: url(/images/premium/IcoRefresh.svg);
$IcoUnShare: url(/images/premium/IcoUnShare.svg);
$IcoContact: none;
$IcoKeyShrng: none;
$ImgSnsCncts: none;
$IcoDcmnt: url(/images/free/IcoDcmnt.svg);
$IcoMsc: url(/images/free/IcoMsc.svg);
$IcoPctr: url(/images/free/IcoPctr.svg);
$ImgSd: none;
$ImgFdbck: url(/images/premium/ImgFdbck.svg);
$IcoFldrAdd: url(/images/free/IcoFldrAdd.svg);
$IcoQstnMrk: url(/images/premium/IcoQstnMrk.svg);
$IcoArrow: url(/images/free/IcoArrow.svg);
$IcoFb: url(/images/free/mobile/IcoFb.svg);
$IcoInst: url(/images/free/mobile/IcoInst.svg);
$IcoLn: url(/images/free/mobile/IcoLn.svg);
$IcoTw: url(/images/free/mobile/IcoTw.svg);
$IcoInf: url(/images/premium/IcoInf.svg);
$SavePasswordImg: url(/images/premium/ImgPsswrdSvdPrm.svg);
$SaveCardImg: url(images/premium/mobile/ImgCrdSvdPrm.svg);
$SaveNotesImg: url(images/premium/mobile/ImgNtSvdPrm.svg);
$SecPasswordKeyImg: url(/images/premium/icoSggstPsswrd.svg);
$Icodrpdwn: url(/images/free/IcoDropDwn.svg);
$successshrkyImg: url(/images/premium/ImgKShrdPrm.svg);
$SecCardImg: url(/images/premium/IcoScnCrdprm.svg);
$ScrtCarddsktpImg: url(/images/premium/card-img-prm.svg);
$IcoFltr: url(/images/free/IcoFltr.svg);
$IcoComprzd: url(/images/free/IcoComprzd.svg);
$IcoDefault: url(/images/free/IcoRecDefault.svg);