@import "_variables";
@import "../_index";

.shre-box {
    //background-image: $IcoPrm;
    background-image: Url(/images/free/IcoRedSparkle.svg);
    background-repeat: no-repeat;
    background-position: top 5px right 5px;
    margin-bottom: 20px;
    background-size: 17px;
}

.atn-bgclr {
    background: $colVwrAvtr;
}

.img-upgrdpl {
    content: $ImgUpgrdPl;
    padding: 0px 10px;
}

.unlck-txt {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    color: $WhtTxtClr;

    span {
        color: $colHglhgt;
    }
}

.upgrd-box {
    border-radius: 12px;
    background-color: $ActnBgClr;
    box-shadow: 0px 8px 12px 0px rgba(60, 97, 43, 0.25);
    background-image: $FrmStrs;
    background-position: top 10px right 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    float: right;
    width: 320px;
    height: 142px;
}

/*.mre-act-sec {
    margin-top: -15px;
}*/

.info-box {
    width: fit-content;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #86B96E;
    background: #FFF;
}

.icosrv {
    content: $IcoSrv;
    padding-left: 4px;
}

.icoidea {
    content: url(/images/free/IcoIdea.svg);
    padding-left: 4px;
}

.ico-eye-sml {
    content: url(/images/premium/IcoEye.svg);
}

.arwrgt-img {
    content: $ArrowRight;
}

.info-txt {
    color: $HdTxtClr;
    font-size: 8px;
    font-weight: 700;
}

.gt-stred-txt {
    color: $TxtClr;
    font-size: 12px;
    font-weight: 700;
}

.AES256-img {
    content: $ImgAES256;
    padding: 20px;
}

.upg-popup {
    padding: 20px;

    .center-column {
        justify-content: center;
        gap: 7%;
    }
}

.popup-container {
    //position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup-section {
    display: none;
    position: absolute;
    top: 30%;
    bottom: 70%;
    border: 1px solid #ccc;
    padding-bottom: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 162px;
    height: 98px;
    border-radius: 5px;
    overflow: visible;
}

.popup-container:hover {
    .popup-section {
        display: block;
    }
}

//subscription section

.features {
    color: #fff;
    float: right;
    margin-top: 0%;
    display: block;
    align-items: center;
}

.title-img {
    padding: 0px 5px;
}

.feat-tab {
    tr td {
        font-size: 70%;
        font-weight: 400;
        padding: 1.5% 5%;
    }
}

.subs-feat {
    display: block;
    width: 218px;
    padding-bottom: 8%;
    border-radius: 8px;
}

.sub-head-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: normal;
    padding: 5% 10%;
}

.subs-sec {
    position: relative;
    margin-top: 0;
    overflow: visible;
}

.free-sugtn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    float: right;
    bottom: 5px;
    top: 310px;
    right: 3%;
    position: absolute;
}

.empty-rcnt-fle-img {
    content: url(/images/free/ImgNoFls.svg);
    padding-top: 20px;
}

.empty-rcnt-fld-img {
    content: url(/images/free/ImgNoFldrs.svg);
    padding-top: 20px;
}

.upgrd-btn {
    text-align: center;
    color: #48772C;
    border: 1px solid #48772C;
    margin-top: 10px;
}

.home-body {
    align-items: center;
}

@media (max-width: 768px) {
    .upgrd-box {
        width: 100%;
        height: 108px;
        background-position: top 10px right 10px;
        margin-bottom: 20px;
    }

    .img-upgrdpup {
        content: $ImgUpgrdPup;
        padding: 10px 0px;
    }

    .upgrd-btn {
        padding: 7px 30px !important;
        margin: 7px 0px;
    }

    .unlck-txt {
        padding-right: 30px;
    }

    .mbl-unlck-txt {
        color: $colTxtRglrBd;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;

        span {
            font-weight: 700;
        }
    }

    .hgh-fnt {
        font-size: 16px;
        font-weight: 800;
    }

    .close {
        float: right;
        background-color: #86B96E;
        width: 24px;
        height: 24px;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        border: 1px solid #86B96E;
        text-decoration: none;
    }
}

.rcnt-fle-tbl {
    max-width: 1150px;
}

@media only screen and (max-width: 1370px) {
    .rcnt-fle-tbl {
        max-width: 850px;
    }

    .feat-tab {
        tr td {
            padding: 1% 4%;
        }
    }

    .sub-head-sec {
        padding: 3% 10%;
        gap: 2px;
    }

    .free-sugtn {
        top: 295px;
    }
}

@media only screen and (max-width: 1300px) {
    .dwnld-sec {
        display: none;
    }
}

@media (min-width: 1155px) {
    .page {
        background: #F9F9F9;
    }

    .custom-password-help-hoverpopup {
        margin-top: 3px;
        height: fit-content;
        padding: 15px 7px;
        width: 190px;
        padding: 3px;
        border-radius: 5px;
        position: absolute;
        transform: translateX(50%);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        z-index: 10;
    }
}
