@import "_variables";
@import "../_secretlist";
.shr-txt-ovflw {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
}

.empty-passmngr-img {
    content: url(/images/free/ImgNoScrts.svg);
    padding-top: 20px;
}