@import "_variables";
@import "../_topmenu";

.subs-required {
    background: Url(/images/free/IcoRedSparkle.svg) no-repeat top left !important;
    background-size: 17px !important;
    padding-left: 33px;
    display: inline-block;
    color: $FlActBg !important;
}
