.home-title {
  content: url("/images/default/Title-hand.svg");
}

.home-index a {
  text-decoration: none;
  cursor: pointer;
}
.home-index a:hover {
  color: none !important;
  cursor: pointer;
}
.home-index h3 {
  font-weight: 700;
  font-size: 16px;
}

.head-sec {
  display: inline-flex;
  gap: 10px;
  align-items: flex-start;
}

.home-body {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.mre-act-sec {
  display: flex;
  gap: 3%;
  justify-content: space-between;
}

.act-box {
  display: block;
  margin-right: 15px;
  margin-top: 20px;
  padding: 15px 5px;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: #86B96E;
  color: #FFF;
  text-align: center;
  line-height: 16px;
  box-shadow: 0px 4px 6px 0px rgba(49, 73, 35, 0.25);
  cursor: pointer;
}

.opnscrd-act {
  content: url(/images/default/IcoOpnScrd.svg);
}

.scr-act {
  content: url(/images/default/IcoScr.svg);
}

.stpscr-act {
  content: url(/images/default/IcoStpScr.svg);
}

.shrks-act {
  content: url(/images/default/IcoShrKs.svg);
}

.PssdMngr-act {
  content: url(/images/premium/icoPssdMngrWhite.svg);
}

.mtrkey-act {
  content: url(/images/business/IcoMstrKey.svg);
  width: 27px;
  height: 24px;
}

.grp-act {
  content: url(/images/business/IcoGroup.svg);
  width: 34px;
  height: 24px;
}

.cln-act {
  content: url(/images/default/IcoCln.svg);
}

.vwr-shrks-act {
  content: url(/images/free/IcoShrKs.svg);
}

.new-mssg {
  content: url(/images/default/IcoNwMssg.svg);
}

.act-img {
  margin: auto auto;
  display: block;
}

.text-size, .act-txt-sze {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.text-style {
  color: #86B96E;
  font-weight: bold;
  padding-right: 10px;
}

.fade-clr {
  border: 1px dotted #86B96E !important;
}
.fade-clr .text-style {
  color: #D2DCCD !important;
}

.fnt-sze {
  font-size: 16px;
}

.ico-eye {
  content: url(/images/premium/IcoEye.svg);
  padding: 5px;
}

.ico-hidden {
  content: url(/images/premium/IcoHiddenPassword.svg);
  padding: 5px;
}

.sub-box {
  margin-top: 10px;
  width: 136px;
  height: 100px;
  border-radius: 8px;
  color: #FFFFFF;
}
.sub-box .subs-plan {
  font-size: 20px;
}

.plan-prm-icon {
  content: url(/images/default/IcoPremiumUpgrade.svg);
  margin-bottom: 8px;
}

.plan-bus-icon {
  content: url(/images/default/IcoBusinessUpgrade.svg);
  margin-bottom: 8px;
}

.buy-button {
  width: 100px !important;
  height: 28px;
  padding: 2px 25px;
  margin: 0px 15px;
  background-color: white;
  color: darkgreen;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.assets-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin: 10px 20px 20px 0px;
  padding: 3px;
  border: 1px solid #86B96E;
  box-shadow: 0px 2px 4px 0px rgba(35, 35, 35, 0.25);
  background-color: transparent;
}

.onedrv-icon {
  content: url(/images/default/IcoOneDrv.svg);
}

.cld-icon {
  content: url(/images/default/IcoIcld.svg);
}

.ggldrv-icon {
  content: url(/images/default/IcoGglDrv.svg);
}

.drpbx-icon {
  content: url(/images/default/IcoDrpbx.svg);
}

.default-icon {
  content: url(/images/default/IcoIcld.svg);
}

.mre-actn-box {
  height: 40px;
  border-radius: 4px;
  margin: 1.5% 0;
  border: 1px solid #86B96E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 188px;
  padding: 5px 0px;
  cursor: pointer;
}

.fle-exton-img img {
  width: 40px;
  height: 40px;
}
.fle-exton-img .fle-nme {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fle-exton-img .mp4, .fle-exton-img .MP4,
.fle-exton-img .avi, .fle-exton-img .AVI,
.fle-exton-img .mov, .fle-exton-img .MOV,
.fle-exton-img .mkv, .fle-exton-img .MKV,
.fle-exton-img .wmv, .fle-exton-img .WMV,
.fle-exton-img .flv, .fle-exton-img .FLV,
.fle-exton-img [class="3gp"], .fle-exton-img [class="3GP"] {
  content: url(/images/free/IcoVd.svg);
}
.fle-exton-img .txt, .fle-exton-img .TXT,
.fle-exton-img .xml, .fle-exton-img .XML,
.fle-exton-img .doc, .fle-exton-img .DOC,
.fle-exton-img .docx, .fle-exton-img .DOCX,
.fle-exton-img .pdf, .fle-exton-img .PDF,
.fle-exton-img .xls, .fle-exton-img .XLS,
.fle-exton-img .xlsx, .fle-exton-img .XLSX,
.fle-exton-img .csv, .fle-exton-img .CSV,
.fle-exton-img .js, .fle-exton-img .JS,
.fle-exton-img .cshtml, .fle-exton-img .CSHTML,
.fle-exton-img .cshtm, .fle-exton-img .CSHTM,
.fle-exton-img .scss,
.fle-exton-img .htm, .fle-exton-img .HTM,
.fle-exton-img .razor, .fle-exton-img .RAZOR {
  content: url(/images/free/IcoDcmnt.svg);
}
.fle-exton-img .mp3, .fle-exton-img .MP3,
.fle-exton-img .wav, .fle-exton-img .WAV,
.fle-exton-img .aac, .fle-exton-img .AAC,
.fle-exton-img .alac, .fle-exton-img .ALAC,
.fle-exton-img .flac, .fle-exton-img .FLAC {
  content: url(/images/free/IcoMsc.svg);
}
.fle-exton-img .png, .fle-exton-img .PNG,
.fle-exton-img .svg, .fle-exton-img .SVG,
.fle-exton-img .jpg, .fle-exton-img .JPG,
.fle-exton-img .jpeg, .fle-exton-img .JPEG,
.fle-exton-img .gif, .fle-exton-img .GIF,
.fle-exton-img .psd, .fle-exton-img .PSD {
  content: url(/images/free/IcoPctr.svg);
}

.file-dec-icon {
  content: url(/images/IcoBroom.svg);
}

.file-masshk-icon {
  content: url(/images/IcoMasShk.png);
  filter: brightness(0.1);
}

.file-masKey-icon {
  content: url(/images/IcoMasK.svg);
}

.file-keySh-icon {
  content: url(/images/IcoKeySh.svg);
}

.file-ext-def-icon {
  content: url(/images/free/IcoDcmnt.svg);
}

.arw-img {
  content: url(/images/default/Arrow.svg);
}

.ico-eye-sml {
  content: none;
  padding: 5px;
}

.ico-dlt {
  content: url(/images/free/IcoDlt.svg);
  padding: 5px;
}

.ico-apikey {
  content: url(/images/free/IcoAPIKey16px.svg);
  padding: 5px;
}

.ico-offln {
  content: url(/images/free/IcoOffln.svg);
  padding: 5px;
}

.ico-invtfrd {
  content: url(/images/free/IcoInvtFrnd.svg);
  padding: 5px;
}

.check-box {
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rcnt-fle-tbl thead tr th {
  color: #494949;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding-bottom: 15px;
  padding: 7px 0px 7px 10px;
}
.rcnt-fle-tbl thead tr th img {
  padding-left: 5px;
}
.rcnt-fle-tbl tbody tr td {
  border: none;
  color: #A4A4A4;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 0px 7px 10px;
}
.rcnt-fle-tbl tbody tr:hover,
.rcnt-fle-tbl tbody tr.active,
.rcnt-fle-tbl .selected {
  background: #EEF7E9 !important;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.file-max-hgt {
  height: 50vh;
  overflow-y: scroll;
}

.fle-nme {
  color: #494949;
}

.sub-text {
  font-size: 12px;
  font-weight: 700;
}

.appstre-img, .gglplay-img {
  cursor: pointer;
}

.appstre-img {
  content: url(/images/default/AppStore.svg);
  width: 134.4px;
  height: 42px;
}

.gglplay-img {
  content: url(/images/default/BtnGooglePlay.svg);
  width: 134.4px;
  height: 42px;
}

.dwnld-sec {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.pwdgnrt-img {
  content: none;
  margin: 3% 0%;
}

.learn-btn {
  padding: 5px;
  width: 72px !important;
  border: 1px solid #86B96E;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 8px;
}

.sub-lvl-clr {
  background-color: #86B96E;
  color: white;
}

/*home suggestion section*/
.sugg-popup {
  display: none;
  justify-content: right;
  background-color: white;
}

.sugg-popup.active {
  display: block;
  top: 48%;
  right: 3%;
  position: fixed;
  background-color: white;
  text-align: right;
  padding: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
}

.info-prple {
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: #48772C;
  padding: 3px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.info-prple:nth-child(4n+1) {
  background-color: #48772C;
}

.info-prple:nth-child(4n+2) {
  background-color: #FFC50D;
}

.info-prple:nth-child(4n+3) {
  background-color: #86B96E;
}

.info-prple:nth-child(4n+4) {
  background-color: #494949;
}

.bdr-clr {
  background: #fff !important;
  border: 1px solid #000;
  color: #000;
}

.Backbtn {
  content: url(../../../Resources/sass/free/images/default/btnback.svg);
  color: #48772C;
}

.modalDialog.sync-popup > div {
  width: 287px;
  height: 287px;
  border-radius: 29px;
  padding: 20px;
}

.modalDialog.sharekey-popup > div {
  width: 50% !important;
  height: fit-content;
  margin: 8% auto;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-height: 30%;
}

.shr-key-title {
  width: 100%;
  padding: 7px 0px !important;
  color: #FFF;
  background-color: #86B96E;
}

.sharekey-content {
  border-radius: 10px;
  padding: 10px 30px 0px;
}
.sharekey-content input[type=email] {
  border: 1px solid #999999;
  background-image: url(/images/default/IcoSearch.svg);
  background-repeat: no-repeat;
  background-position: top 10px right 10px;
  background-size: 18px;
}
.sharekey-content .fle-exton-img img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.sharekey-content a {
  text-decoration: none;
}

.selected-file {
  background: #EDF1EA;
  padding: 4px 7px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  width: 150px !important;
}

.file-box, .user-list-bx {
  max-height: 195px;
  min-height: 195px;
  border: 0.2px solid #999999;
  box-sizing: border-box;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px 15px;
}
.file-box > dl > dd, .user-list-bx > dl > dd {
  margin: 0px !important;
}
.file-box > dl > dd hr, .user-list-bx > dl > dd hr {
  margin: 0px !important;
}

.share-list {
  background: #EDF1EA;
}

.empty-list {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
}

.context-menu {
  height: 80px;
  width: 120px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  float: right;
  right: 20px;
  bottom: 25%;
  padding: 8px 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.context-menu dd {
  padding: 3px 7px;
}
.context-menu dd:hover {
  background-color: #F2F4F0;
  border-radius: 4px;
}
.context-menu .refresh-icon {
  content: url(/images/premium/IcoRefresh.svg);
  padding-right: 3px;
}
.context-menu .unshare-icon {
  content: url(/images/premium/IcoUnShare.svg);
  padding-right: 3px;
}

.sync-img {
  content: none;
}

.sd-img {
  content: none;
}

.axcrypt-icon {
  content: url(/images/default/AxCrypt_Icon.svg);
}

.contact-icon {
  content: none;
}

.axcrypt-icon, .contact-icon, .shared-text {
  padding-left: 8px;
  height: 18px;
}

.ico-optn {
  content: url(/images/free/IcoOptns.svg);
}

.mb-shre {
  display: none;
}

.dk-shre {
  display: block;
}

.home-context-menu {
  background-color: #f9f9f9;
  border: 1px solid #86B96E;
  border-radius: 16px;
  width: 417px;
  padding: 10px;
  background-color: white;
  position: absolute;
  display: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.home-context-menu dd {
  padding: 4px 10px;
  margin-bottom: 3px;
  margin-top: 4px;
}
.home-context-menu dd:hover {
  color: #86B96E;
  background-color: #D2DCCD;
  margin: 4px -10px;
  padding: 4px 20px;
  background-image: url(/images/free/IcoIndctr.svg);
  background-repeat: no-repeat;
  background-position: top right 0px;
}

.home-context-menu::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 20px;
  transform: translateY(-60%) rotate(90deg);
  width: 0;
  height: 0;
}

.rcnt-fld-bx {
  width: 178px;
  height: 84px;
  border-radius: 5px;
  box-shadow: 0px 5px 12px 1px rgba(89, 129, 65, 0.3);
  display: block;
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}
.rcnt-fld-bx label {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rcnt-fld-bx.selected {
  background: #EEF7E9;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.date-drpdwn {
  content: url(/images/free/IcoDrpDwn.svg);
  transform: rotate(90deg);
  height: 11px;
  width: 13px;
}

.add-fldr-img {
  content: url(/images/free/IcoFldrAdd.svg);
}

.add-fldr {
  border-style: dotted !important;
  box-shadow: none;
}

.hover-popup img {
  padding: 6px 0px;
}

.fld-dflt-cl {
  border: 1px solid #86B96E;
}

.fld-tem-cl {
  background: #96AD88;
}

.fld-ntfnd-cl {
  background: #D9D9D9;
}

.rcnt-fld-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin-top: 10px;
  max-height: 310px;
  overflow-y: scroll;
}

.recent-fle-rw a {
  color: #CACACA;
}

.recent-fle-rw a.active,
.recent-fle-rw a:hover {
  color: #86B96E;
}

.fldr-img {
  content: url(/images/free/IcoFldr.svg);
}

.tmpr-img {
  background-image: url(/images/default/IcoTmprr.svg) !important;
  background-repeat: no-repeat;
  background-position: top 8px right 8px !important;
}

.abt-axc-sec .modalDialog > div {
  padding: 30px 15px !important;
  width: 550px;
}
.abt-axc-sec label {
  font-weight: 400;
  padding: 5px 0px;
}
.abt-axc-sec .txt-clr {
  font-weight: 800;
}

.shre-fle-txt {
  display: inline-block;
  max-width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-txt-field {
  display: flex;
  padding-bottom: 10px;
}

.suggestion-list {
  list-style-type: none;
  border: 1px solid #232323;
  overflow-y: auto;
  padding: 0;
  margin-top: 35px;
  position: absolute;
  width: 72%;
  background-color: white;
  max-height: 200px;
  height: fit-content;
  z-index: 1;
}

.suggestion-list li {
  padding-top: 10px;
  cursor: pointer;
  color: #CACACA;
}

.suggestion-list span {
  padding-left: 20px;
}

.suggestion-list img {
  padding-right: 20px;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
}

.suggestion-list hr {
  margin: 8px 0px 0px;
  background-color: #232323;
}

@media (max-width: 768px) {
  .dk-shre {
    display: none;
  }
  .mb-shre {
    display: block !important;
  }
  .sharekey-content {
    padding: 0px;
  }
  .sharekey-content input[type=email] {
    background-position: top 10px left 7px;
    background-size: 14px;
    text-indent: 25px;
    font-size: 12px;
  }
  .selected-file {
    background-color: #D2DCCD;
    width: 47%;
    height: 76px;
    text-align: center;
    padding: 25px 5px;
    font-weight: 700;
    font-size: 16px;
  }
  .file-box {
    border: none;
    min-height: 280px;
    padding: 0px;
    margin-top: 20px;
  }
  .file-box > dl > dd {
    padding: 7px;
    border-radius: 5px;
  }
  .file-box hr {
    display: none;
  }
  .ico-info {
    content: url(/images/premium/IcoInf.svg);
    padding-top: 5px;
  }
  .empty-list {
    background-size: 340px;
    height: fit-content;
  }
  .share-list {
    background: none !important;
  }
  .file-bgrnd {
    background: #EDF1EA;
  }
  .shr-ky-ftr {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }
  .shr-ky-ftr .btn-small {
    width: 100%;
  }
  .add-button {
    background-image: url(/images/default/IcoAdd.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
    position: absolute;
    margin-top: 4px;
    text-indent: -9999px;
    overflow: hidden;
  }
  .act-box {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 15px;
    margin-right: 10px;
  }
  .act-box img {
    padding-bottom: 4px;
    max-height: 29px;
  }
  .act-img {
    width: 26px;
    height: 32px;
  }
  .head-sec {
    margin: 12px auto 5px;
    margin-left: 20px;
    align-items: center;
  }
  .assets-box {
    width: 72px;
    height: 56px;
    align-items: center;
    padding: 5%;
  }
  .info-prple {
    width: 32px;
    height: 32px;
  }
  .recent-fle-rw {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .fltr-ico {
    content: url(/images/default/BtnFltr.svg);
  }
  .fltr-ico:active {
    content: url(/images/free/BtnFltr.svg);
  }
  .act-txt-sze {
    font-size: 16px;
    margin-top: 10px;
  }
  .sort-img {
    content: url(/images/free/IcoSort.svg);
    padding-right: 5px;
  }
  .rnt-fle-bx {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #86B96E;
    box-shadow: 0px 5px 12px 1px rgba(89, 129, 65, 0.3);
    margin-top: 10px;
    padding: 13px 10px 10px;
  }
  .rnt-fle-bx table tr td {
    padding: 0px 2px;
    font-weight: 700;
  }
  .rnt-fle-bx tr:nth-child(even) {
    color: #CACACA;
    font-size: 12px;
  }
  .rnt-fle-bx tr:nth-child(odd) {
    font-size: 16px;
  }
  .rnt-fle-bx:active {
    background-color: #B5CEA9;
  }
  .rnt-fle-bx:active tr:nth-child(even) {
    color: #86B96E;
  }
  .rnt-fle-bx.selected {
    background-color: #B5CEA9;
  }
  .rcnt-fle-tbl {
    overflow: hidden;
  }
  .home-search {
    border-radius: 5px;
    border: 1px solid #CACACA;
    width: 100%;
    height: 40px;
    text-indent: 25px;
    background-image: url(/images/default/IcoSearch.svg);
    background-repeat: no-repeat;
    background-position: left 5px center;
  }
  .rcnt-fld-sec {
    gap: 6%;
    overflow: scroll;
    margin-top: 20px;
  }
  .rcnt-fld-bx {
    width: 47%;
    height: 108px;
    padding: 30px 0px;
    background-image: url(/images/free/IcoOptns.svg);
    background-repeat: no-repeat;
    background-position: top 8px right 5px;
  }
  .fle-exton-img .mp4, .fle-exton-img .MP4,
  .fle-exton-img .avi, .fle-exton-img .AVI,
  .fle-exton-img .mov, .fle-exton-img .MOV,
  .fle-exton-img .mkv, .fle-exton-img .MKV {
    content: url(/images/free/mobile/IcoVideoFile.svg);
  }
  .fle-exton-img .txt, .fle-exton-img .TXT,
  .fle-exton-img .xml, .fle-exton-img .XML,
  .fle-exton-img .doc, .fle-exton-img .DOC,
  .fle-exton-img .docx, .fle-exton-img .DOCX,
  .fle-exton-img .pdf, .fle-exton-img .PDF,
  .fle-exton-img .xls, .fle-exton-img .XLS,
  .fle-exton-img .xlsx, .fle-exton-img .XLSX,
  .fle-exton-img .js, .fle-exton-img .JS,
  .fle-exton-img .cshtml, .fle-exton-img .CSHTML,
  .fle-exton-img .cshtm, .fle-exton-img .CSHTM,
  .fle-exton-img .scss,
  .fle-exton-img .htm, .fle-exton-img .HTM,
  .fle-exton-img .razor, .fle-exton-img .RAZOR {
    content: url(/images/free/mobile/IcoTextFile.svg);
  }
  .fle-exton-img .mp3, .fle-exton-img .MP3,
  .fle-exton-img .wav, .fle-exton-img .WAV,
  .fle-exton-img .aac, .fle-exton-img .AAC {
    content: url(/images/free/mobile/IcoMusicFile.svg);
  }
  .fle-exton-img .png, .fle-exton-img .PNG,
  .fle-exton-img .svg, .fle-exton-img .SVG,
  .fle-exton-img .jpg, .fle-exton-img .JPG,
  .fle-exton-img .jpeg, .fle-exton-img .JPEG {
    content: url(/images/free/mobile/IcoPictureFile.svg);
  }
  .fle-exton-img .fle-nme {
    max-width: 220px;
    padding-left: 0px;
    display: block;
  }
  .home-title {
    height: 32px;
    width: 36px;
    padding-left: 8px;
    padding-bottom: 5px;
  }
  .recent-fle-rw a {
    text-decoration: none;
  }
  .recent-fle-rw a.active,
  .recent-fle-rw a:hover {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.25em;
  }
  .fltr-popup {
    display: none;
    position: fixed;
    background: #fff;
    border: 1px solid #86B96E;
    padding: 16px;
    z-index: 999;
    width: 160px;
    height: 155px;
    right: 15px;
    top: 33%;
    border-radius: 16px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #CACACA;
  }
  .fltr-popup input[type=radio] {
    margin: 8px;
  }
  .fltr-popup input[type=radio]:checked + label {
    color: #494949;
  }
  .home-body {
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .hgt-ovflw {
    max-height: 445px;
    overflow: scroll;
  }
  .shared-text {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 1370px) {
  .rcnt-fle-tbl {
    max-width: 850px;
  }
  .scrd-sec {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 769px) and (max-width: 1370px) {
  .rcnt-fld-bx {
    width: 160px;
    height: fit-content;
  }
  .fle-exton-img .fle-nme {
    padding-left: 3%;
  }
}
.shre-box {
  background-image: url(/images/premium/IcoPrm.svg);
  background-repeat: no-repeat;
  background-position: top 5px right 5px;
  margin-bottom: 20px;
}

.atn-bgclr {
  background: #D2DCCD;
}

.img-upgrdpl {
  content: url(/images/free/ImgUpgrd.svg);
  padding: 0px 10px;
}

.unlck-txt {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  padding-right: 35px;
  color: #FFF;
}
.unlck-txt span {
  color: #FFDA00;
}

.upgrd-box {
  border-radius: 12px;
  background-color: #86B96E;
  box-shadow: 0px 8px 12px 0px rgba(60, 97, 43, 0.25);
  background-image: url(/images/free/ImgSprkls.svg);
  background-position: top 10px right 10px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  float: right;
  width: 320px;
  height: 142px;
}

.mre-act-sec {
  margin-top: -15px;
}

.info-box {
  width: 144px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #86B96E;
  background: #FFF;
}

.icosrv {
  content: url(/images/free/IcoSrv.svg);
  padding-left: 4px;
}

.icoidea {
  content: url(/images/free/IcoIdea.svg);
  padding-left: 4px;
}

.ico-eye-sml {
  content: url(/images/premium/IcoEye.svg);
}

.arwrgt-img {
  content: url(/images/default/ArrowRight.svg);
}

.info-txt {
  color: #494949;
  font-size: 8px;
  font-weight: 700;
}

.gt-stred-txt {
  color: #86B96E;
  font-size: 12px;
  font-weight: 700;
}

.free-color {
  background-color: #86B96E;
}

.AES256-img {
  content: url(/images/free/ImgAES256.svg);
  padding: 20px;
}

.upg-popup {
  padding: 20px;
}
.upg-popup .center-column {
  justify-content: center;
  gap: 7%;
}

.popup-container {
  display: inline-block;
  cursor: pointer;
}

.popup-section {
  display: none;
  position: absolute;
  top: 30%;
  bottom: 70%;
  border: 1px solid #ccc;
  padding-bottom: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 162px;
  height: 98px;
  border-radius: 5px;
  overflow: visible;
}

.popup-container:hover .popup-section {
  display: block;
}

.features {
  color: #fff;
  float: right;
  margin-top: 0%;
  display: block;
  align-items: center;
}

.title-img {
  padding-left: 5px;
}

.feat-tab tr td {
  font-size: 70%;
  font-weight: 400;
  padding: 2% 5%;
}

.subs-feat {
  display: block;
  width: 110%;
  padding-bottom: 8%;
  border-radius: 8px;
}

.sub-head-sec {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: normal;
  padding: 5% 10%;
}

.subs-sec {
  position: relative;
  margin-top: 0;
  overflow: visible;
}

.free-sugtn {
  display: flex;
  align-items: flex-start;
  gap: 5%;
  float: right;
  bottom: 5px;
  top: 295px;
  right: 4%;
  position: absolute;
}

.empty-rcnt-fle-img {
  content: url(/images/free/ImgNoFls.svg);
  padding-top: 20px;
}

.empty-rcnt-fld-img {
  content: url(/images/free/ImgNoFldrs.svg);
  padding-top: 20px;
}

@media (max-width: 768px) {
  .upgrd-box {
    width: 100%;
    height: 108px;
    background-position: top 10px right 10px;
    margin-bottom: 20px;
  }
  .img-upgrdpup {
    content: url(/images/free/ImgUpgrdPup.svg);
    padding: 10px 0px;
  }
  .upgrd-btn {
    padding: 7px 30px !important;
    margin: 7px 0px;
  }
  .unlck-txt {
    padding-right: 30px;
  }
  .mbl-unlck-txt {
    color: #494949;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
  }
  .mbl-unlck-txt span {
    font-weight: 700;
  }
  .hgh-fnt {
    font-size: 16px;
    font-weight: 800;
  }
  .close {
    float: right;
    background-color: #86B96E;
    width: 24px;
    height: 24px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #86B96E;
    text-decoration: none;
  }
}
.rcnt-fle-tbl {
  max-width: 1150px;
}

@media only screen and (max-width: 1370px) {
  .rcnt-fle-tbl {
    max-width: 850px;
  }
}
