.sidebar {
  background-color: #303030 !important;
}

.nav-item .active,
.nav-item :hover {
  background-color: #575757 !important;
  color: #CDFFB1 !important;
}

.link-box {
  background-color: #303030 !important;
  border: #282828 !important;
  box-shadow: none !important;
}

.link-txt {
  color: #CDFFB1 !important;
}

.label-text label {
  color: #A4A4A4 !important;
}

.desc-txt {
  color: #A4A4A4 !important;
}

.sup-text-blur {
  background-color: #282828 !important;
  border: #282828 !important;
}

.btn-hide {
  background-color: #575757 !important;
  border: #575757 !important;
  color: #ffffff !important;
}

.font-medium, .model-popup {
  background-color: #303030 !important;
  color: #A4A4A4 !important;
}

.notify-pg-tbl-body td {
  color: #CDFFB1 !important;
}

.notification-table th {
  background-color: #575757 !important;
  color: #CDFFB1 !important;
}

.password-create-dropdown-content {
  background-color: #282828 !important;
}

.password-create-dropdown-content a:hover,
.password-create-dropdown-content a.active {
  color: #CDFFB1 !important;
  background-color: #575757 !important;
}

#messenger-keyword {
  background-color: #282828 !important;
  border: 1px !important;
}

#secrets-keyword {
  background-color: #282828 !important;
  border: 1px !important;
}

.tab a:hover, .tab a.active {
  color: #CDFFB1 !important;
}

.tab-selected {
  border: 3px solid #CDFFB1 !important;
}

.tab-sec a.active,
.tab-sec a:hover {
  color: #CDFFB1 !important;
}

.fnt-high {
  background-color: #333232 !important;
}

.mutli-slct-btn {
  color: #CDFFB1 !important;
}

.page {
  background-color: #121212 !important;
  color: #ffffff;
}

.page-title {
  color: #ffffff !important;
}

.fle-nme {
  color: #ffffff !important;
}

.text-style {
  color: #ffffff !important;
}

button {
  background-color: #ffffff;
  color: #ffffff;
  border: solid 1px;
  padding: 10px;
  border-radius: 5px;
}

.mre-actn-box {
  background-color: #575757 !important;
  border: #575757 !important;
}

.rcnt-fld-bx {
  background-color: #333232;
  border: #575757 !important;
  box-shadow: none !important;
  color: #A4A4A4 !important;
}

.modalDialog > div {
  color: #ffffff;
  background-color: #121212 !important;
}

.rcnt-fle-tbl thead tr th {
  color: #A4A4A4;
  background: #303030 !important;
}
.rcnt-fle-tbl tbody tr td, .rcnt-fle-tbl td span {
  background: #121212 !important;
}
.rcnt-fle-tbl tbody tr:hover,
.rcnt-fle-tbl tbody tr.active,
.rcnt-fle-tbl .selected {
  background: #303030 !important;
}

textarea, input[type=text], textarea[readonly] {
  background: #575757 !important;
  color: #FFFFFF !important;
}

.clean-up textarea {
  color: #FFFFFF !important;
}

.find-fle-nme {
  color: #232323;
}

.notif-popup-bck {
  background-color: transparent !important;
}

.file-dec-icon {
  content: url(/images/IcoClnGrn.svg);
}
