.sidebar {
  background-color: #303030 !important;
}

.nav-item .active,
.nav-item :hover {
  background-color: #575757 !important;
  color: #CDFFB1 !important;
}

.link-box {
  background-color: #303030 !important;
  border: #282828 !important;
  box-shadow: none !important;
}

.link-txt {
  color: #CDFFB1 !important;
}

.label-text label, .lable-txt {
  color: #A4A4A4 !important;
  background-color: #575757 !important;
}

.desc-txt, .nav-link span, .select-email {
  color: #A4A4A4 !important;
}

.sup-text-blur {
  background-color: #282828 !important;
  border: #282828 !important;
}

.btn-hide {
  background-color: #575757 !important;
  border: #575757 !important;
  color: #ffffff !important;
}

.model-popup, .act-clr, .notification-popup {
  background-color: #303030 !important;
  color: #FFFFFF !important;
}

.notify-pg-tbl-body td {
  color: #CDFFB1 !important;
}

.notification-table th {
  background-color: #575757 !important;
  color: #CDFFB1 !important;
}

.password-create-dropdown-content {
  background-color: #282828 !important;
}

.password-create-dropdown-content a:hover,
.password-create-dropdown-content a.active {
  color: #CDFFB1 !important;
  background-color: #575757 !important;
}

#messenger-keyword {
  background-color: #282828 !important;
  border: 1px !important;
}

#secrets-keyword {
  background-color: #282828 !important;
  border: 1px !important;
}

.tab a:hover, .tab a.active {
  color: #CDFFB1 !important;
}

.tab-selected {
  border: 3px solid #CDFFB1 !important;
}

.tab-sec a.active,
.tab-sec a:hover {
  color: #CDFFB1 !important;
}

.fnt-high {
  background-color: #333232 !important;
}

.mutli-slct-btn {
  color: #CDFFB1 !important;
}

.page {
  background-color: #121212 !important;
  color: #A4A4A4;
}

.page-title {
  color: #ffffff !important;
}

.fle-nme {
  color: #A4A4A4;
}

.text-style {
  color: #ffffff !important;
}

button {
  background-color: #ffffff;
  color: #ffffff;
  border: solid 1px;
  padding: 10px;
  border-radius: 5px;
}

.mre-actn-box {
  background-color: #575757 !important;
  border: #575757 !important;
}

.mre-actn-box:hover {
  background-color: #575757 !important;
}

.rcnt-fld-bx {
  background-color: #333232;
  border: #575757;
  box-shadow: none !important;
  color: #A4A4A4 !important;
}

.modalDialog > div {
  color: #ffffff;
  background-color: #121212 !important;
}

.rcnt-fle-tbl thead tr th {
  color: #A4A4A4;
  background: #303030 !important;
}
.rcnt-fle-tbl tbody tr td, .rcnt-fle-tbl td span {
  background: #121212 !important;
}
.rcnt-fle-tbl tbody tr:hover,
.rcnt-fle-tbl tbody tr.active,
.rcnt-fle-tbl .selected {
  background: #303030 !important;
}

textarea, input[type=text], input[type=password], textarea[readonly], textarea {
  background-color: #575757 !important;
  color: #FFFFFF !important;
}

input[readonly=readonly], textarea[readonly] {
  border: #575757 !important;
}

.clean-up textarea {
  color: #FFFFFF !important;
  background: #575757 !important;
}

.find-fle-nme {
  color: #232323;
}

.notif-popup-bck {
  background-color: transparent !important;
}

.file-dec-icon {
  content: url(/images/IcoClnGrn.svg);
}

.page-heading {
  background-color: #757575;
}

.sub-head-clr,
.lable-txt {
  color: #A4A4A4 !important;
}

.model-popup {
  border: none;
}

.add-fldr-img {
  filter: brightness(0) saturate(90%) invert(50%);
}

.fldr-img {
  filter: brightness(0) saturate(90%) invert(50%);
}

.filter-text:hover {
  color: #A4A4A4;
}

.inbox-section table {
  background: #282828;
}

.inbox-section table:hover {
  background: #A4A4A4;
}

.email-txt-ovflw {
  color: #FFFFFF;
}

.rply-icon,
.dlt-icon {
  color: #FFFFFF;
}

.visble-button {
  background: #303030;
  color: #CDFFB1;
}

.secured-messenger select {
  color: #CDFFB1 !important;
  font-weight: 700;
}

.secured-messenger option {
  color: #A4A4A4;
}

.secured-messenger option:hover {
  color: #CDFFB1;
}

.multi-actn-btn {
  background-color: #575757;
  color: #A4A4A4;
  border: #A4A4A4;
}

.multi-actn-btn:hover {
  background-color: #575757;
}

.button.border {
  border: 1px solid #303030 !important;
}

.button.success {
  background-color: #48772C !important;
  color: #ffffff !important;
}

.sub-box-bsns {
  background: #757575;
}

.hover-popup, .home-hover {
  background: #282828;
  color: #CDFFB1 !important;
}

.secured-messenger option:hover {
  color: #CDFFB1;
}

.settings-menu-item-container img, .manage-acc-sec a img, .notifi-img img {
  filter: invert(1) !important;
}

.notification-popup {
  border: 1px solid #303030;
}

.password-filter-dropdown-content {
  background: #303030;
  color: #A4A4A4 !important;
}

.text-fnt-size {
  color: #575757;
}

.grey-clr {
  color: #575757;
  font-weight: 700;
}

.home-index .fle-nme {
  color: #FFFFFF;
}

.txt-clr, .highlight-text > span {
  color: #CDFFB1;
}

.abt-axc > span {
  color: #A4A4A4;
}
