.help-overlay-mask {
    position: fixed;
    inset: 0;
    background: #232323CC;
    z-index: 9998;
}

.help-tooltip {
    position: absolute;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 10000;
    width: 99px;
    text-align: center;
}

    .help-tooltip b {
        font-weight: bold;
    }

.help-width {
    width: 200px !important;
}

.sidemenu-width, .abt-width {
    width: max-content !important;
}

.help-buttons {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 9999;
    display:flex;
    flex-direction:column;
    transform: translateX(-50%);
}

.help-btn-skip {
    color: #fff;
    font-weight: 700;
    background: none;
    text-align: center;
    min-width: 271px;
}

    .help-btn-skip:hover {
        background: none;
    }

.help-btn-next {
    text-align: center;
    color: #48772C;
    font-weight: 800;
    font-size: 24px;
    min-width: 271px;
}

/*dot buttons*/
.help-pagination-dots {
    position: fixed;
    bottom: 160px;
    display: flex;
    gap: 10px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
}

.help-dot {
    width: 17px;
    height: 17px;
    border-radius: 16px;
    background: #fff;
    transition: 0.3s;
}

    .help-dot.active {
        background: #48772C;
        transform: scale(1.2);
    }

.help-arrow {
    content: url(/images/help-arrow.svg);
    position: absolute;
    width: 30px;
    height: auto;
    z-index: 9999;
    pointer-events: none;
}

.z-top {
    z-index: 9999 !important;
    position: relative;
}

@media (max-width: 1380px) {
    .abt-width {
        width: 320px !important;
    }

    .help-buttons {
        bottom: 25px !important;
    }

    .help-pagination-dots {
        bottom: 150px !important;
    }
}