/* loading wheel*/
.loading-content {
  text-align: center;
}

.loading-content img {
  width: 100px;
  max-width: 100px;
  height: 100px;
  content: url(/images/default/Loading_560x560.gif);
  user-select: none;
  outline: none;
  pointer-events: none;
}

.loading-content span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Full-page overlay */
.secrets-loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 10.99deg at 98.18% 128.62%, #FFFEE8 0deg, rgba(200, 199, 180, 0.8) 353.48deg, #F5FFF0 360deg);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.secrets-loading-overlay .loading-content span {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

/* no overlay*/
.secrets-loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-title-container {
  display: inline-flex;
}

.center-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.align-items {
  display: flex;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.font-small {
  font-size: 8px;
  font-weight: 700;
}

.font-medium {
  font-size: 12px;
  font-weight: 700;
}

.font-high {
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
  font-size: 16px;
}

.font-large {
  font-weight: 800;
  font-size: 14px;
}

.font-extra-bold {
  font-weight: 800;
  font-size: 16px;
}

.text-center {
  text-align: center !important;
}

.bold-highlight span {
  font-weight: 700;
}

.modalDialog.open {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog.close {
  opacity: 0;
  pointer-events: auto;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99999;
}

.modalDialog > div {
  width: 35%;
  min-width: 450px !important;
  height: fit-content;
  position: relative;
  margin: 13% auto;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.home-hover {
  height: fit-content;
  top: 28% !important;
  padding: 15px 7px;
  position: relative !important;
}

.settings-menu-hover {
  height: fit-content;
  top: auto !important;
  margin-top: -5px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 89px;
  height: 40px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(48px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

.on-off-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  padding: 0 8px;
  color: white;
}

.on-text {
  left: 8px;
}

.off-text {
  right: 8px;
  color: #494949;
}

.toggle input:checked + .slider .on-text {
  color: white !important;
}

.toggle input:checked + .slider .off-text {
  color: white;
}

.btn-large {
  width: 154px;
  padding: 10px 30px;
  border-radius: 8px;
}

.btn-medium {
  padding: 5px 20px;
  width: 110px;
}

.btn-small {
  padding: 5px 20px;
  width: 95px;
}

.btn-extra-small {
  padding: 7px 10px;
  width: 95px;
  margin-top: 20px;
}

.small-1 {
  width: 8.3333333333%;
}

.small-2 {
  width: 13.7%;
}
.small-2 input[type=text] {
  height: 36px;
  width: 100%;
  background-size: 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  outline: none;
}

.small-3 {
  width: 25%;
}

.small-4 {
  width: 33.3333333333%;
}

.small-5 {
  width: 41.6666666667%;
}

.small-6 {
  width: 50%;
}

.small-7 {
  width: 58.3333333333%;
}

.small-8 {
  width: 72.6%;
}

.small-9 {
  width: 75%;
}

.small-10 {
  width: 83.3333333333%;
}

.small-11 {
  width: 91.6666666667%;
}

.small-12 {
  width: 100%;
}

.small-offset-0 {
  margin-left: 0 !important;
}

.small-offset-1 {
  margin-left: 8.3333333333% !important;
}

.small-offset-2 {
  margin-left: 16.6666666667% !important;
}

.small-offset-3 {
  margin-left: 25% !important;
}

.small-offset-4 {
  margin-left: 33.3333333333% !important;
}

.small-offset-5 {
  margin-left: 41.6666666667% !important;
}

.small-offset-6 {
  margin-left: 50% !important;
}

.small-offset-7 {
  margin-left: 58.3333333333% !important;
}

.small-offset-8 {
  margin-left: 66.6666666667% !important;
}

.small-offset-9 {
  margin-left: 75% !important;
}

.small-offset-10 {
  margin-left: 83.3333333333% !important;
}

.small-offset-11 {
  margin-left: 91.6666666667% !important;
}

.medium-1 {
  width: 8.3333333333%;
}

.medium-2 {
  width: 16.6666666667%;
}

.medium-3 {
  width: 25%;
}

.medium-4 {
  width: 33.3333333333%;
}

.medium-5 {
  width: 41.6666666667%;
}

.medium-6 {
  width: 50%;
}

.medium-7 {
  width: 58.3333333333%;
}

.medium-8 {
  width: 66.6666666667%;
}

.medium-9 {
  width: 75%;
}

.medium-10 {
  width: 83.3333333333%;
}

.medium-11 {
  width: 91.6666666667%;
}

.medium-12 {
  width: 100%;
}

.row, .columns {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Alert boxes*/
.alert-box {
  font-size: 14px;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 1;
  width: 395px;
}

.alert-box.alert {
  background-color: #e95e47;
  border: 1px solid #cf2a0e;
}

/*for input validation*/
.input-error {
  border: 1px solid red !important;
  box-shadow: 0px 0px 7.9px 0px #FADCCE;
}

.validation-message {
  font-size: 12px;
  color: red;
  margin-top: -8px;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.validation-message::before {
  content: "";
  background-image: url(/images/default/Errorinfo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.empty-view-heading {
  color: #494949;
  font-size: 20px;
  font-weight: 800;
}

.modal-header {
  font-size: 20px;
  padding: 20px;
  border-bottom: none;
}

.modal-body {
  padding: 10px 20px;
}

.modal-footer {
  border-top: none;
  justify-content: center;
  gap: 20px;
}

.error-message {
  color: red;
  font-weight: 600;
}

@media (max-width: 768px) {
  .mb-btn-wid {
    width: 100%;
  }
  .top-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    display: flex;
  }
  .sttng-icon, .notif-icon {
    height: 32px !important;
  }
  .upgrade-button {
    margin-left: 0% !important;
  }
  .upgrade-premium,
  .upgrade-business {
    float: none !important;
  }
  .modalDialog > div {
    margin: 60% auto;
    padding: 10px 10px 20px;
    border-radius: 29px;
    text-align: center;
    width: 70%;
    height: auto;
  }
  .page-title::before {
    background-image: none;
  }
  .alert-box {
    bottom: 30px;
    left: 30px;
    width: 330px;
  }
}
@media (max-width: 1140px) {
  .mb-title {
    color: #494949;
    margin: 5% 0%;
    text-decoration: none;
  }
  .model-popup {
    width: 30%;
    padding: 20px 10px;
  }
}
@media (min-width: 769px) and (max-width: 1350px) {
  .page-title-container {
    width: 90%;
  }
  .padding-size {
    padding: 0px 15px;
  }
  .page-title, h1 {
    font-size: 32px !important;
  }
}
@media (min-width: 769px) and (max-width: 1290px) {
  .page-title-container {
    width: 43%;
  }
  .page-title, h1 {
    font-size: 26px !important;
  }
}
@media (min-width: 1291px) and (max-width: 1510px) {
  .page-title-container {
    width: 46%;
  }
}
@media (min-width: 1450px) {
  .page-title, h1 {
    font-size: 35px !important;
  }
}
.body-content-section .secrets-loading-overlay {
  align-items: normal;
  padding: 10% 20px;
}

.parent-container {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.arabic-class .page-title {
  padding-right: 0px;
}
.arabic-class .page-title::before {
  right: unset;
  left: -18px;
  transform: rotate(-25deg);
}
.arabic-class .top-menu {
  float: left !important;
  right: unset;
  left: 40px;
}
.arabic-class .top-menu .tick-icon {
  right: unset;
  left: 0;
}
.arabic-class .top-menu .dropbtn {
  gap: 25px;
}
.arabic-class .top-menu .language-item img {
  padding-left: 10px;
}
.arabic-class .top-menu-section .desk-stngs-popup {
  right: unset;
  left: 12.5%;
}
.arabic-class .top-menu-section .notification-popup {
  right: unset;
  left: 2.5%;
}
.arabic-class .top-menu-section .desk-acnt-popup {
  right: unset;
  left: 2.5%;
}
.arabic-class .top-menu-section .notification-popup:after, .arabic-class .top-menu-section .notification-popup:before {
  right: 58% !important;
}
.arabic-class .top-menu-section .desk-acnt-popup:after, .arabic-class .top-menu-section .desk-acnt-popup:before {
  right: 200px !important;
}
.arabic-class .top-menu-section .sub-pop1 {
  right: unset;
  left: 28%;
}
.arabic-class .top-menu-section .sub-pop2 {
  right: unset;
  left: 30%;
}
.arabic-class .top-menu-section .key-mngnt-Popup, .arabic-class .top-menu-section .subs-dtls-popup {
  left: 17%;
}
.arabic-class .top-menu-section .key-mngnt-Popup dd {
  margin-inline-start: -10px;
  padding: 5px 15px;
}
.arabic-class .top-menu-section .key-mngnt-Popup dd :hover {
  padding: 5px -20px;
}
.arabic-class .email-img, .arabic-class .pswd-img {
  background-position: right 7px center;
}
.arabic-class .manage-acc-sec a {
  display: flex;
  gap: 5px;
}
.arabic-class .manage-acc-sec img {
  padding-left: 10px;
  padding-right: unset;
}
.arabic-class .flex-column .nav-link.active.one, .arabic-class .flex-column .nav-link.active.two, .arabic-class .flex-column .nav-link.active.three, .arabic-class .flex-column .nav-link.active.four, .arabic-class .flex-column .nav-link.active.five {
  background-position: top 4px left;
}
.arabic-class .sidebar .hide-icon {
  float: left;
  margin-left: -12px;
}
.arabic-class .sidebar .expbd-icon {
  left: -15px;
}
.arabic-class .acc-subs div:nth-child(2) {
  width: 185px;
}
.arabic-class .modal-body label {
  float: right;
}
.arabic-class .modal-body .center-column {
  margin-top: 25px;
}
.arabic-class #date-modified-toggle .center-column {
  gap: 10px;
  margin-inline-start: 0px;
}
.arabic-class #date-modified-toggle .center-column div {
  float: left;
}
.arabic-class .invite-text {
  text-align: right !important;
}
.arabic-class .notification-table th {
  text-align: right;
}
.arabic-class .notify-pg-tbl-head th {
  padding-right: 15px;
}
.arabic-class .abt-axc .center-column div:nth-child(2) {
  text-align: right !important;
}
.arabic-class .sharekey-content input[type=email], .arabic-class #secrets-keyword {
  background-position: top 10px left 10px;
}
.arabic-class .sharekey-content .fle-exton-img img {
  margin-left: 10px;
}
.arabic-class .sugg-popup.active {
  right: unset;
  left: 3%;
}
.arabic-class .nav-item span {
  margin-right: 0px;
  margin-left: 20px;
}
.arabic-class .sharedwith-box {
  transform: translateX(9%);
}
.arabic-class #cp-sec-pwd-clipbrd {
  right: unset !important;
  left: 10px;
}
.arabic-class .menu-image {
  float: left;
}
.arabic-class .axcrypt-icons, .arabic-class .contact-icon {
  float: right !important;
}
.arabic-class .sharedwith-box ul {
  padding-inline-start: 0px;
}
.arabic-class .sharedwith-box ul li {
  gap: 5px;
}
.arabic-class .password-create-dropdown-content dd, .arabic-class .context-menu dd {
  margin-inline-start: 0px;
}
.arabic-class .context-menu {
  right: unset;
  left: 40px;
}
.arabic-class .left-section {
  float: right;
}
.arabic-class .right-section {
  float: left;
}
.arabic-class .signup-sec, .arabic-class .signup-sec input {
  margin: 3% 0% 3% 0% !important;
}
.arabic-class .close-img {
  float: left;
}
.arabic-class .free-sugtn {
  left: 3%;
  right: unset;
}
.arabic-class .info-box {
  margin-right: 15px;
}
.arabic-class .tick-icon {
  left: 0;
  right: unset;
}
