@import "../_basevariables";

//colors
$HdTxtClr: #000;
$ActnBgClr: #232323;
$BorderClr: #000;
$TxtClr: #000;
$BtnBackClr: #000;
$BoxShadowClr: rgba(36, 36, 36, 0.25);
$SdeMnuTxtClr: #000;
$SdeMnubgndClr: #FFFFFF;
$SdebrbgndClr: conic-gradient(from 11deg at 98.18% 128.62%, rgba(0, 0, 0, 0.50) 0deg, rgba(0, 0, 0, 0.03) 353.47740411758423deg);
$SdebrbgndClrMb: #d5d5d5;
$TblhdBgClr: #E2E2E2;
$colVwr: #000;
$Colsublvl: #232323;
$colVwrAvtr: #D6D6D6;
$colBtnPrmActv: #232323;
$colTxtRglrHd: #494949;
$colActvMb: #AEAEAE;
$colMbrDsbl: #A4A4A4;
$colDsblBg: #D9D9D9;
$FlbgMb: #D6D6D6;
$FltxtAct: #D9D9D9;
$FlActBg: #AEAEAE;
$colFldMbbxshdw: rgba(132, 132, 132, 0.30);
$BgrndCol: #232323;
$PflBg: #B7B7B7;
$colBg: #232323;
$MreActBg: #494949;
$TitleClr: #232323;
$colTxtHd: #000000;
$fltTxtClr: #000000;
$colTxtlble: #000000;
$colTxtSubHd: #000000;
$colToggleBtn: #000000;
$colActive: #000000;
$colLckd: #FFFFFF;
$colBtnStrk: #000000;
$colBtnDsbl: rgba(73, 73, 73, 0.5);
$colBTnActive: #000000;
$colNtfctnNw: #E2E2E2;
$ImgBGCard: rgba(73, 73, 73, 0.5);
$colTxtPrmBd: #FFFFFF;
$colAvtr: #B7B7B7;
$SucssBtnBgDflt: #969696;
$FileBg: #E2E2E2;
$CanSubsClr: #969696;
$TbleBg: #F5F5F5;
$colshareActive: #000;
$shrwithbox: #969696;
$fileboxbckgrd: #A4A4A4;
$psmgrBgClr: #B7B7B7;
$psmgrTxtClr: #232323;
$ShareSecretBack: #A4A4A4;
$NotiPassBack: #000000;
$ShareWidBg: #cbcbcb;
$HglhtTxt: #E2E2E2;

//images
$IcoEye: url(/images/business/IcoEye.svg);
$Ico256: url(/images/business/Ico256.svg);
$IcoIncldFldrs24px: url(/images/business/IcoIncldFldrs24px.svg);
$IcoSlpMd: url(/images/business/IcoSlpMd.svg);
$IcoRstr: url(/images/business/IcoRstr.svg);
$IcoAdvsSttns: url(/images/business/IcoAdvsSttns.svg);
$IcoOffln: url(/images/business/IcoOffln.svg);
$IcoEncrptSttgs: url(/images/business/IcoEncrptSttgs.svg);
$IcoInvtFrnd: url(/images/business/IcoInvtFrnd.svg);
$IcoDbg: url(/images/business/IcoDbg.svg);
$IcoChckVrsn: url(/images/business/IcoChckVrsn.svg);
$IcoOptns: url(/images/business/IcoOptns.svg);
$IcoLgng: url(/images/business/IcoLgng.svg);
$IcoUsers: url(/images/business/IcoUsers.svg);
$IcoBrkFl: url(/images/business/IcoBrkFl.svg);
$IcoChckVer: url(/images/business/IcoChckVer.svg);
$IcoChckFl: url(/images/business/IcoChckFl.svg);
$IcoErrRprt: url(/images/business/IcoErrRprt.svg);

$IcoDlt: url(/images/business/IcoDlt.svg);
$IcoAPIKey: url(/images/business/IcoAPIKey16px.svg);
$IcoVd: url(/images/business/IcoVd.svg);
$ImgPsswrdGnrt: url(/images/business/ImgPsswrdGnrt.svg);
$IcoUserDefault: url(/images/default/IcoBus.svg);
$IcoUser: url(/images/business/IcoBus.svg);
$IcoScrdFldr: url(/images/business/icoScrdFldr.svg);
$IcoScrts: url(/images/business/IcoScrts.svg);
$IcoScrdMssngr: url(/images/business/IcoScrdMssngr.svg);
$IcoActivity: url(/images/business/IcoActivity.svg);
$IcoSupport: url(/images/business/IcoSupport.svg);
$IcoFdbck: url(/images/business/IcoFdbck.svg);
$IcoInfOld: url(/images/business/IcoInfOld.svg);
$IcoIndctr: url(/images/business/IcoIndctr.svg);
$IcoHd: url(/images/business/BtnHd.svg);
$IcoExpbd: url(/images/business/BtnExpbd.svg);
$IcoBrgMn: url(/images/business/IcoBrgMn.svg);
$IcoUnrdNtfcns: Url(/images/business/IcoUnrdNtfctns.svg);
$IcoFldr: url(/images/business/IcoFldr.svg);
$IcoCstmzActn: url(/images/business/IcoCstmzActn.svg);
$IcoPwdMngrMb: url(/images/business/IcoPwdMngr.svg);
$IcoVdMb: url(/images/business/mobile/IcoVideoFile.svg);
$IcoPicMb: url(/images/business/mobile/IcoPictureFile.svg);
$IcoMusMb: url(/images/business/mobile/IcoMusicFile.svg);
$IcoDocMb: url(/images/business/mobile/IcoTextFile.svg);
$BtnFltrAct: url(/images/business/BtnFltr.svg);
$IcoSort: url(/images/business/IcoSort.svg);
$IcoBack: url(/images/business/BtnBack.svg);
$IcoSttngsActv: url(/images/business/IcoSttngsActv.svg);
$TickMark: url(/images/business/TickMark.svg);
$Backbtn: url(/images/business/mobile/BtnBack.svg);
$IcoNotifsublvl: url(/images/business/mobile/IcoNtfctnActv.svg);
$ScrtFilterImg: url(/images/business/IcoFilter.svg);
$ScrtPasswordImg: url(/images/business/IcoPassword.svg);
$ScrtCardImg: url(/images/business/IcoCard.svg);
$ScrtNoteImg: url(/images/business/IcoNote.svg);
$ScrtPssdMngrImg: url(/images/business/icoPssdMngr.svg);
$SecPasswordImg: url(/images/business/IcoPassword.svg);
$SecCopyImg: url(/images/business/BtnCopy.svg);
$SecTopArrowImg: url(/images/business/IcoDrpDwn.svg);
$BtnEditImg: url(/images/business/BtnEdit.svg);
$ScrtMenuIco: url(/images/business/icoPssdMngr.svg);
$SupportMenuIco: url(/images/business/IcoSupport.svg);
$LogoutMenuIco: url(/images/business/IcoLogOut.svg);
$SecurityIco: url(/images/business/IcoSecurity.svg);
$NotificationIco: url(/images/business/IcoNotifi.svg);
$ShownPasswordIco: url(/images/business/IcoShownPassword.svg);
$HiddenPasswordIco: url(/images/business/IcoHiddenPassword.svg);
$ScrtImgHdHglght: url(/images/business/ImgHdHglght.svg);
$Titlelogo: url(/images/business/IcoBus.svg);
$SupportImg: url(/images/business/ImgSupport.svg);
$FrmStts: Url(/images/premium/FrmStts.svg);
$IcoSortBy: url(/images/business/IcoSortBy.svg);
$businessGroupIcon: url(/images/business/ImgGroups.svg);
$IcoGrp: url(/images/business/IcoGrp.svg);
$IcoGrpDisable: url(/images/business/IcoGrpDisable.svg);
$BtnAddmember: url(/images/business/BtnAdd.svg);
$BtnArrow: url(/images/business/Arrow.svg);
$Btndropdown: url(/images/business/DateVector.svg);
$BtnNwgrpmebr: url(/images/business/BtnNwgrpmebr.svg);
$IcoStngs: url(/images/business/IcoStngs.svg);
$APIKeyIco: url(/~/images/business/IcoAPIKey.svg);
$EmailIco: url(/images/business/IcoEmail.svg);
$IcoDwnld: url(/images/business/IcoDwnld.svg);
$IcoIdea: url(/images/business/icoIdea.svg);
$IcoQstnMrk: url(/images/business/IcoQstnMrk.svg);
$IcoClbrtn: url(/images/business/IcoClbrtn.svg);
$IcoRnw: url(/images/business/IcoRnw.svg);
$IcoDrpDwn: url(/images/business/IcoDrpDwn.svg);
$IcoKMngmnt: url(/images/business/IcoKMngmnt.svg);
$IcoUserDesk: url(/images/business/IcoBus1.svg);
$IcoErr: url(/images/business/IcoErr.svg);
$IcoSngOut: url(/images/business/IcoSngOut.svg);
$IcoUnrdNtfctns: url(/images/business/IcoUnrdNtfctns.svg);
$IcoRefresh: url(/images/business/IcoRefresh.svg);
$IcoUnShare: url(/images/business/IcoUnShare.svg);
$IcoContact: url(/images/business/IcoContact.svg);
$IcoKeyShrng: url(/images/business/IcoKeyShrng.svg);
$IcoDcmnt: url(/images/business/IcoDcmnt.svg);
$IcoMsc: url(/images/business/IcoMsc.svg);
$IcoPctr: url(/images/business/IcoPctr.svg);
$ImgSnsCncts: url(/images/business/ImgSnsCncts.svg);
$ImgSd: url(/images/business/ImgSd.svg);
$IcoInf: url(/images/business/IcoInf.svg);
$ImgFdbck: url(/images/business/ImgFdbck.svg);
$IcoFldrAdd: url(/images/business/IcoFldrAdd.svg);
$IcoFb: url(/images/business/mobile/IcoFb.svg);
$IcoInst: url(/images/business/mobile/IcoInst.svg);
$IcoLn: url(/images/business/mobile/IcoLn.svg);
$IcoTw: url(/images/business/mobile/IcoTw.svg);
$ScrtCarddsktpImg: url(/images/business/card-img-bus.svg);
$SecPasswordKeyImg: url(/images/business/icoSggstPsswrd.svg);
$Icodrpdwn: url(/images/business/IcoDropDwn.svg);
$IcoArrow: url(/images/business/IcoArrow.svg);
$successshrkyImg: url(/images/business/ImgKShrdBus.svg);
$SecCardImg: url(/images/business/IcoScnCrdbus.svg);
$SavePasswordImg: url(/images/business/ImgPsswrdSvdBus.svg);
$SaveCardImg: url(/images/business/ImgCrdSvdBus.svg);
$SaveNotesImg: url(/images/business/ImgNtSvdBus.svg);
$IcoFltr: url(/images/business/IcoFltr.svg);
$IcoRstPsswrd: url(/images/business/IcoRstPsswrd.svg);
$IcoClrSttngs: url(/images/business/IcoClrSttngs.svg);
$IcoSubsDetails: url(/images/business/IcoSubsDetails.svg);

$icoExtrFtrs: url(/images/business/icoExtrFtrs.svg);
$IcoDt: url(/images/business/IcoDt.svg);
$IcoEdt: url(/images/business/IcoEdt.svg);
$two-factor-authentication: url(/images/business/two-factor-authentication.svg);
$IcoComprzd: url(/images/business/IcoComprzd.svg);
$IcoDefault: url(/images/business/IcoRecDefault.svg);
$ImgNoslctMssg: url(/images/business/ImgNoslctMssg.svg);
$IcoNew: url(/images/business/IcoNew.svg);
$IcoUnread: url(/images/business/IcoUnread.svg);
$IcoRply: url(/images/business/IcoRply.svg);
$IcoClose: url(/images/business/IcoClose.svg);
$IcoUnrd: url(/images/business/IcoUnrd.svg);
$IcoRd: url(/images/business/IcoRd.svg);
$colHprlnk: #FFC50D;
$colHovrbox: #ECECEC;
$NewMsgBg: #494949;
$BtnFltr: url(/images/business/BtnFltr.svg);
$SendActive: url(/images/business/SendActive.svg);