@import "_variables";
@import "../_index";

.actv-subs {
    width: 216px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid $BorderClr;
    background: $WhtBgClr;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.battery {
    float: left;
    padding: 5px 5px 5px 20px;
}

.battery-head {
    width: 20px;
    height: 10px;
    margin: 0px auto 0 auto;
    border: 4px solid $BorderClr;
    border-bottom-color: transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: -3px;
}

.battery-body {
    color: $WhtTxtClr;
    width: 47px;
    height: 80px;
    margin: 0 auto;
    border-radius: 10px;
    align-items: end !important;
    display: flex;
    border: 4px solid $BorderClr;
}

.charge-level {
    width: 45px;
    background-color: #494949;
    height:50px;
    margin: 4px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.rnw-btn {
    content: $IcoRnw;
    padding: 4px;
}

.add-usr {
    content: $IcoBuy;
    padding: 4px;
}

.subs-btn {
    color: $WhtTxtClr !important;
    width: 112px;
    font-size: 12px;
    font-weight: 700;
}