//colors
$WhtTxtClr: #FFF;
$WhtBgClr: #FFF;
$colHglhgt: #FFDA00;
$colTxtPrmBd: #48772C;
$colTxtDsbl: #CACACA;
$colTxtRglrBd: #494949;
$colRed: #CE3733;
$colDsbl: #A4A4A4;
$colTxtPrm: #48772C;
$colIcoBus: #000000;
$colDarkGreenForprm: #48772C;
$butDefaultCol: #F8F8F8;
$colTxtFree: #69A051;
$butDefaultHoverCol: #E8E8E8;
$butAlertCol: #E95E47;
$butAlertBorder: #CF2A0E;
$butAlertHover: #D74D37;
$colTxtBtnDflt: #FFFFFF;
$NotiPassBack: #48772C;
$colMbrDisable: #A4A4A4;
$colBtnScndr: #FFFFFF;

//images
$IcoBuy: url(/images/business/IcoBuy.svg);
$IcoRnw: url(/images/business/IcoRnw.svg);
$IcoAxCryptGrn: url(/images/axcrypt_text.png);
$axcrypt_transparent: url(/images/axcryptIcon.png);
$IcoScrdFldrDefault: url(/images/default/icoScrdFldr.svg);
$IcoScrtsDefault: url(/images/default/IcoScrts.svg);
$IcoScrdMssngrDefault: url(/images/default/IcoScrdMssngr.svg);
$IcoActivityDefault: url(/images/default/IcoActivity.svg);
$IcoSupportDefault: url(/images/default/IcoSupport.svg);
$IcoFdbckDefault: url(/images/default/IcoFdbck.svg);
$IcoInfOldDefault: url(/images/default/IcoInfOld.svg);
$ScrtCardHoverImg: url(/images/cardImg.svg);
$ScrtCardmblHoverImg: url(/images/cardImg.svg);
$ScrtPasswordHoverImg: url(/images/IcoPasswordHover.svg);
$ScrtNoteHoverImg: url(/images/IcoNoteHover.svg);
$IcoSldrWht: url(/images/default/IcoSldr.svg);
$IcoDltWht: url(/images/default/IcoDlt.svg);
$IcoRplWht: url(/images/default/IcoRpl.svg);
$IcoDltGray: url(/images/default/IcoDltGray.svg);
$IcoReadGray: url(/images/default/IcoReadGray.svg);
$IcoUnreadGray: url(/images/default/IcoUnreadGray.svg);

//free user
$IcoOffln: url(/images/free/IcoOffln.svg);
$IcoInvtFrnd: url(/images/free/IcoInvtFrnd.svg);
$FrmStrs: url(/images/free/ImgSprkls.svg);
$ImgUpgrdPl: url(/images/free/ImgUpgrd.svg);
$ImgUpgrdPup: url(/images/free/ImgUpgrdPup.svg);
$IcoPrm: url(/images/premium/IcoPrm.svg);
$IcoSrv: url(/images/free/IcoSrv.svg);
$IcoIdea: url(/images/free/IcoIdea.svg);
$IcoGuides: url(/images/signpost.svg);
$ArrowRight: url(/images/default/ArrowRight.svg);
$BtnFltr: url(/images/default/BtnFltr.svg);
$IcoPwdMgrMbDflt: url(/images/default/IcoPwdMngr.svg);
$IcoTmprr: url(/images/default/IcoTmprr.svg);
$IcoArrwNxt: url(/images/default/BtnNext.svg);
$IcoMngAccnt: url(/images/default/IcoMngAccnt.svg);
$ButCanTxtCol: #1A1A1A;
$ButCanBorder: #999999;
$AxCryptIcon: url(/images/default/AxCrypt_Icon.svg);
$SearchIcon: url(/images/search-icon.svg);
$LoadingGif: url(/images/loading.gif);
$IcoSearchWht: url(/images/default/IcoSearchWht.svg);