.file-picker-modalDialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Optional overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    > div {
        width: fit-content;
        background: white;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 0;
        margin: 0;
        max-width: 95vw; /* avoid overflow */
        max-height: 95vh;
        box-sizing: border-box;
    }

    .file-picker-header {
        .file-picker-title {
            display: flex;
            align-items: center;
            position: relative;
            padding: 30px 5px 0px;
        }

        .center-title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .center-title label {
            font-size: 20px;
        }

        .search-box {
            margin-left: auto;
            display: flex;
            align-items: center;
            position: relative;
            display: inline-block;
            width: 200px;
        }

        .search-btn img {
            padding: 12px;
        }

        .search-box input {
            border: 1px solid #A4A4A4;
        }

        .search-box .search-btn {
            position: absolute;
            right: 0px;
            top: 22px;
            transform: translateY(-50%);
            width: 37px;
            height: 35px;
            cursor: pointer;
            background-color: $SucssBtnBgDflt;
            border-radius: 5px;
            transition: filter 0.3s ease;
        }

        .search-box:hover {
            .search-btn {
                background-color: $ActnBgClr;
            }
        }
    }

    .file-picker-filepath {
        margin: 0px 15px;

        .breadcrumb-part {
            display: inline-block;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .breadcrumb {
            font-size: 14px;
            font-weight: 400;
            color: $colDsbl;
            cursor: pointer;
            margin-bottom : 0px;
        }

        .breadcrumb a {
            text-decoration: none;
            color: $colDsbl;
        }

        .breadcrumb .separator {
            margin: 0 5px;
            color: #999;
        }

        .breadcrumb .current {
            font-weight: bold;
            color: #333;
        }

        .icon-dltfold {
            content: $IcoFldrGry;
            height: 16px;
            width: 16px;
            margin-left: 2px;
        }
    }

    .file-picker-modal-body {
        text-align: center !important;
        width: 65vw;
    }

    .file-picker-dir-content {
        background: white;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 63vw;
        min-height: 485px;
        max-height: 600px;
        text-align: left;
        margin: 15px;
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .highlight {
        background-color: yellow;
        font-weight: bold;
    }

    .file-notfound {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 300px;
        text-align: center;
    }

    .file-notfound span {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 14px;
        color: #494949;
    }

    .files-section .list-view {
        width: 100%;
    }

    .files-section .grid-view {
        display: flex;
    }

    .grid-view .file-grid {
        overflow-y: auto;
        padding: 5px;
        box-sizing: border-box;
        max-height: 426px;
    }


    .grid-view .detail-section {
        width: 27%;
        padding: 10px;
        background-color: #f5f5f5;
        border-left: 1px solid #ccc;
        min-height: 426px;
        overflow-y: auto
    }

    .file-list {
        list-style: none;
        padding: 0;
        max-height: 425px;
        margin-bottom: 0;
        overflow-y: scroll;
    }

    .file-list li {
        padding: 6px;
        border-bottom: 1px solid #ccc;
    }

    .file-grid {
        display: flex;
        row-gap: 5px;
        flex-wrap: wrap;
    }

    .file-grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        text-align: center;
        max-width: 155px;
        min-width: 145px;
        max-height: 120px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin: 5px 15px;
    }

    .Icon-file {
        content: $AxCryptIcon;
    }

    .Icon-folder {
        content: $IcoFldr;
    }

    .list-file-icon {
        width: 19px;
        height: 20px;
        object-fit: contain;
    }

    .grid-file-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 8px;
    }

    .file-name-grid {
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
    }

    .file-name-grid, .file-name, .file-path {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        vertical-align: middle;
    }

    .file-name-grid {
        max-width: 140px;
    }

    .file-name {
        min-width: 280px;
        max-width: 280px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .file-path {
        color: #A4A4A4;
    }

    .file-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        gap: 10px;
        border-bottom: 1px solid #ddd;
        background-color: white;
        cursor: pointer;
        transition: background-color 0.2s ease, box-shadow 0.2s ease;

        .fileitem-chk-box {
            display: none;
        }
    }

    .file-list-item.select-item {
        background-color: $colHovrbox;

        .file-name {
            font-weight: bold;
            color: $TxtClr;
        }

        .file-path {
            color: #A4A4A4;
            font-weight: bold;
        }

        .fileitem-chk-box {
            display: block !important;
        }
    }

    .file-grid-item.select-item {
        background-color: $colHovrbox;

        .file-name-grid {
            font-weight: bold;
            color: $TxtClr;
        }
    }

    .file-list-item:hover, .file-grid-item:hover {
        background-color: $colHovrbox;

        .fileitem-chk-box {
            display: block;
        }
    }

    .file-list-item, .file-grid-item {
        position: relative;
    }

    .file-grid-item:hover .file-name-grid,
    .file-list-item:hover .file-name {
        font-weight: bold;
        color: $TxtClr;
    }

    .file-list-item:hover .file-path {
        color: #A4A4A4;
        font-weight: bold;
    }

    .file-details {
        flex: 1;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .file-action {
        cursor: pointer;
        font-size: 18px;
        user-select: none;
        padding: 0 5px;
        width: 20px;
        flex-shrink: 0;
    }

    .close-img {
        margin-top: 10px;
        margin-right: 10px
    }

    .context-menu-action {
        background: white;
        border: 1px solid $BorderClr;
        border-radius: 10px;
        box-shadow: 0 0 10px $ActnBgClr;
        min-width: 150px;
        min-height: 100px;
        overflow: hidden;
    }

    .context-menu-action .menu-item {
        padding: 8px 12px;
        display: block;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        font-size: 12px;
        font-weight: 400;
    }

    .menu-item:last-child {
        border-bottom: none;
    }

    .context-menu-action .menu-item:hover {
        background-color: $colHovrbox !important;
        color: #494949 !important;
    }

    .detail-section {
        padding: 20px;
        box-sizing: border-box;
        border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        height: 426px;
    }

    .select-file {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        border-left: 1px solid #ccc;
        height: 250px;
        max-width: 180px;
    }

    .select-file span {
        margin: 2px;
        text-align: center;
    }

    .detail-image {
        width: 69px;
        height: 76px;
        object-fit: contain;
        margin-top: 8%;
        margin-bottom: 16px;
    }

    .detail-label {
        font-size: 14px;
        font-weight: 400;
    }

    .detail-filename {
        word-break: break-word;
        white-space: normal;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 2px;
        text-align: center;
    }

    .Imgfile-picker {
        /*        content: $Imgfile-picker;*/
        padding: 20px;
    }

    .Close-btn {
        background-color: $BgrndCol;
        color: #fff;
        width: 110px;
        height: 30px;
        text-align: center;
        font-size: 14px;
    }

    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 5px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .div-file-header {
        span {
            margin-right: 20px;
            font-size: 14px;
        }

        display: grid;
        grid-template-columns: 310px 1fr;
        font-weight: bold;
        padding: 8px 12px;
    }

    .display-type {
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .display-type img {
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: 2px solid transparent;
        padding: 4px;
        transition: border 0.3s;
    }

    .display-type img.selected {
        border: 2px solid #007bff;
        border-radius: 4px;
    }

    .modal-footer {
        justify-content: center !important;
    }

    .content-area {
        position: relative;
    }

    .filepicker-action-container {
        position: absolute;
        bottom: 15px;
        right: 40px;
        z-index: 1;
    }

    .filepicker-dropdown-action {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .round-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        float: right;
    }
    .action-btn {
        content: url(/images/IconAction.svg);
        width: 30px;
        height: 30px;
    }

    .filepicker-dropdown-menu-action {
        position: absolute;
        bottom: 70px;
        background: #fefefe;
        border-radius: 8px;
        width: 130px;
        z-index: 1;
        right: 15px;
        bottom: 50px;
    }

    .dots {
        line-height: 1;
        display: block;
    }
}
