/* PAGE: SECURED MESSENGER */
.messager-loading {
    background-image: $LoadingGif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    transition: background-image 0.2s ease-in-out;
    height: 250px !important;

    span {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
}

.msg-search-btn {
    background-image: $IcoSearchWht;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    background-color: $ActnBgClr !important;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0;
}

#messenger-keyword {
    background-image: $SearchIcon;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 14px;
    text-indent: 30px;
    transition: all 0.2s ease-in-out;
}

#messenger-keyword.loading,
#messenger-keyword.loading:focus {
    background-image: $LoadingGif;
}

.sub-head-link {
    font-size: 14px;
    font-weight: 700;
    padding-right: 30px;
    color: $colMbrDisable;
    text-decoration: none;
}

.tab-sec {
    display: flex;
    gap: 32px;
    margin: 10px 0px 30px;

    a {
        display: flex;
        gap: 5px;
        padding: 10px 0px 0px;
        font-size: 16px;
        font-weight: 700;
    }

    a.active,
    a:hover {
        color: $colTxtSubHd;
    }
}

.new-btn {
    background-image: $IcoNew;
    background-repeat: no-repeat;
    background-position: top 15px left 20px;
    padding-left: 7%;
    float: right;
    width: 135px;
    height: 44px;
}

#secured-keyword {
    background-image: $SearchIcon;
    background-repeat: no-repeat;
    background-position: left 15px center;
    text-indent: 30px;
    font-size: 12px;
}

.acc-prfl {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    text-align: center;
    padding-top: 3px;
    background-color: $colBg;
    color: $colBtnScndr;
}

.fnt-high {
    font-size: 16px;
    font-weight: 700;
}

.fnt-medium {
    font-size: 14px;
    font-weight: 700;
}

.fnt-small {
    font-size: 12px;
    font-weight: 700;
}

.btn-size {
    width: 124px;
}

.grey-clr {
    color: $colMbrDisable;
}

.grey-bg {
    background-color: $colMbrDisable;
}

.read-text {
    font-weight: 700 !important;
}

.ico-unread {
    content: $IcoUnread;
    float: right;
    padding-right: 15px;
    padding-top: 5px;
}

.inbox-img {
    content: $ImgNoslctMssg;
    padding-top: 30px;
}

.empty-sec {
    margin-top: 10%;
}

.right-align {
    text-align: right;
}

.visiblity-text {
    color: $colHprlnk;
    padding-left: 5px !important;
}

.rply-icon {
    background-image: $IcoRply;
    background-repeat: no-repeat;
    background-position: top 6px left 0px;
    padding-left: 18px;
    background-color: transparent;
    border: none;
}

.dlt-icon {
    background-image: $IcoDlt;
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: top 6px left 0px;
    margin-left: 20px;
}

.dlt-img {
    content: $IcoDlt;
    height: 16px;
}

.dlt1 {
    content: $IcoDlt;
    float: right;
}

.rply1 {
    content: $IcoRply;
    float: right;
}

.reply-section {
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 1px 4px 0px #00000040;
    border-radius: 8px;
    padding-bottom: 40px;
}

.center-column {
    display: flex;
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.inbox-section table {
    box-shadow: 0px 1px 4px 0px #00000040;
    margin-bottom: 0px;

    tr:nth-of-type(even) {
        td {
            padding-top: 0px;
            padding-bottom: 20px;
        }
    }

    tr:nth-of-type(odd) {
        td {
            padding-top: 20px;
        }
    }

    tbody tr td {
        padding: 10px;
    }
}

.view-section, .new-section {
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px 0px #00000040;
    border-radius: 8px;

    table {
        background-color: transparent;
        border-collapse: unset;
        border: none;

        tr td {
            padding: 0;
        }

        tbody {
            tr:nth-of-type(even) {
                td {
                    padding-top: 3px;
                    padding-bottom: 0px;
                }
            }

            tr:nth-of-type(odd) {
                td {
                    padding-top: 0px;
                }
            }
        }
    }

    .acc-prfl {
        width: 36px;
        height: 36px;
        padding-top: 10px;
    }
}

.text-msg {
    font-size: 16px;
    text-align: justify;
    padding-top: 15px;
    height: auto;
}

#secured-mess-body {
    min-height: 80px;
    border: none;
    box-shadow: none;
    width: 100%;
}

.inbox-section, .view-section, .new-section {
    table {
        width: 100%;

        tbody {
            tr td {
                padding-right: 0px;
            }

            tr:nth-of-type(even) {
                background: none;
            }
        }
    }
}
//visibility dropdown
.visble-button {
    background: white;
    width: 142px;
    padding: 3px 0px;
    margin-bottom: 0px;
    border: 1px solid #A4A4A4;
}

.visible-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    right: 54.9%;
    border: 1px solid black;
    width: 142px;
    border-radius: 0px 0px 4px 4px;

    label {
        font-size: 14px;
        font-weight: 700;
        color: $colMbrDisable;
        line-height: 19.07px;
    }

    label.active {
        color: $colActive;
    }

    input[type="radio"] {
        margin-right: 5px;
    }
}

.bx-padng {
    padding: 10px;
}

.clse-img {
    color: white;
}

.alert-popup {
    min-width: 330px;
    position: absolute;
    top: 420px;
    left: -200px;
}

.acc-prfl-container {
    position: relative;
}

.acc-prfl {
    display: block;
}

.hover-checkbox {
    display: none;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.hover-table:hover {
    background-color: $colHovrbox;

    .acc-prfl {
        display: none !important;
    }
}

.hover-table.checked, .hover-table.active {
    background-color: $colHovrbox !important;
}

.msg-selected {
    background-color: $colHovrbox;
}

.show-all .acc-prfl {
    display: none;
}

.show-all .hover-checkbox {
    display: block;
}

.hidden {
    display: none;
}

textarea[readonly] {
    background: #fff !important;
}

.snd-mb {
    display: none;
}

.padng-rgt {
    padding-right: 5px;
}

.mb-new-msg {
    display: none;
}

.dk-hide {
    display: none !important;
}

.all-msg button.fnt-high {
    width: 55%;
    padding: 2.3% 3%;

    img {
        padding: 0 1%;
    }
}

.slct-actions {
    display: inline-flex;
    gap: 15%;
    float: right;
    justify-content: right;
    height: 16px;
    margin: 2.1% 0;

    img {
        height: 16px;
    }
}

.slct-press-actions {
    display: inline;
    padding-right: -5px;
    position: relative;
    right: -6%;
}

.multi-chckbx {
    margin: 0 4% 0 1% !important;
}

.multi-dlt {
    content: $IcoDltGray;
}

.multi-read {
    content: $IcoReadGray;
}

.multi-unread {
    content: $IcoUnreadGray;
}

.active-btn .multi-dlt {
    content: $IcoDlt;
}

.active-btn .multi-read {
    content: $IcoRd;
}

.active-btn .multi-unread {
    content: $IcoUnrd;
}

.clck-img {
    vertical-align: baseline;
    padding-right: 3px;
}

.go-back-arrow, .btn-fltr {
    display: none;
}

.dsk-hide, .rpl-img-wht {
    display: none;
}

.mob-hide {
    display: block;
}

.unread-message {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.selected {
    background-color: #D9D9D9;
}

.unread-message.selected {
    background-color: #f0f8ff;
}

#new-member-email {
    width: 100%;
    min-height: 35px;
    border: 1px solid #ccc;
    padding: 5px;
    display: inline-block;
    border-bottom: 1px solid #ccc !important;
    border: none;
    height: fit-content;
    outline: none !important;
}

.email-input-container {
    width: 100%;
    cursor: text;
}

.email-input-container input:focus {
    box-shadow: none;
}

#email-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.email-tag {
    background: grey;
    border-radius: 15px;
    padding: 2px 5px;
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
}

.email-text {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 85px;
    font-size: 13px;
}

.remove-email {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.top-design-press, .sldr-img-wht {
    display: none;
}

#search-msg-form {
    input, select {
        height: 40px;
    }
}

.mre-user-txt {
    padding-left: 10px;
    font-weight: 700;
}

.secured-messenger {
    select {
        color: $TxtClr !important;
        font-weight: 700;
    }

    option {
        color: $colMbrDisable;
        font-weight: 700;
    }
}

.text-fnt-size {
    color: $HdTxtClr;
}

.mutli-slct-btn {
    color: $TxtClr;
}

.filter-tab-wrapper {
    position: relative;
    display: inline-block;
}

.filter-trigger {
    position: absolute;
    right: 50px;
    padding: 14px 5px 14px 5px;
    cursor: pointer;
    content: $ScrtFilterImg;
}

.filter-popup {
    position: absolute;
    top: 48px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 17px 30px 17px 17px;
    display: none;
    z-index: 100;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $HdTxtClr;
    box-shadow: 0px 4px 8.6px 0px #D3D3D3;

    label {
        width: 72px;
    }

    input {
        border: 1px solid $colDsbl !important;
    }

    input[type=date] {
        text-indent: 5px;
        padding-right: 8px;
    }
}

.slct-filt-box {
    max-width: 128px;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 10px;
    height: 32px;
    color: $TxtClr;
    background-color: $HglhtTxt;
    border-radius: 5px;
    border: 1px solid $BorderClr;
    font-size: 16px;
    border-radius: 5px;
}

.searched-filters {
    display: flex;
    gap: 16px;
}

.filter-items {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 20px;
}

@media only screen and (max-width: 979px) {
    .dsk-hide {
        display: block;
    }

    .mob-hide {
        display: none;
    }

    .go-back-arrow {
        content: $Backbtn;
        display: block;
        position: absolute;
        left: 0px;
        top: 3px;
    }

    .page-title {
        text-align: center;
        font-size: 30px;
    }

    .all-msg button.fnt-high {
        display: none;
    }

    .hover-table:hover {
        background: none;

        .acc-prfl {
            display: block !important;
        }
    }

    .empty-sec, .mutli-slct-btn, .new-btn {
        display: none;
    }

    .hover-table {
        border: none !important;
        border-bottom: 1px solid #ccc;
        width: 100%;
        margin-bottom: 20px;
        background-color: white;
        user-select: none;
    }

    .hover-checkbox {
        position: absolute;
        left: -30px;
    }

    .ico-unread {
        float: left;
        position: absolute;
        left: -18px;
        margin-top: 7px;
    }

    .secured-messenger {
        .column, .columns {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .hover-table tbody {
        tr td {
            padding: 10px 0px;
        }

        tr td.first {
            padding-left: 40px;
        }

        tr td.second {
            padding-left: 5%;
        }
    }

    .inbox-section {
        table tr:nth-of-type(odd) td {
            padding-bottom: 5px !important;
            padding-top: 15px;
        }

        table tr:nth-of-type(even) td {
            padding-bottom: 15px !important;
        }
    }

    .no-margin {
        margin-left: -15px;
        margin-right: -22px;
    }

    .inbox-section {
        table {
            width: 98%;
        }
    }

    .rply-icon, .dlt-icon, .all-msg.hide, .tab-sec.hide, .dlt-img {
        display: none;
    }

    .showtab {
        display: block !important;
        visibility: visible !important;
    }

    .top-design.active,
    .top-design-press.active {
        margin-bottom: 20px;
        background-color: $colBg;
        padding: 25px;
        height: 72px;
        margin-top: -50px;
    }

    .top-design-press.active {
        margin-top: 0px;
        color: $colBtnScndr;

        img {
            filter: brightness(5);
            width: 20px;
            margin-right: 5%;
        }
    }

    .sldr-img-wht {
        content: $IcoSldrWht;
        float: left;
    }

    .rpl-img-wht {
        display: block;
        content: $IcoRplWht;
        position: absolute;
        top: -67px;
        left: 70%;
    }

    .dlt-img-wht {
        background-image: $IcoDltWht;
        background-repeat: no-repeat;
        padding-right: 40px;
    }

    .snd-dk {
        display: none;
    }

    .dk-hide {
        display: block !important;
    }

    .snd-mb {
        display: block;
        float: right;
        background-image: Url("images/default/IcoSnd.svg");
        background-repeat: no-repeat;
        width: 20px;
    }

    .snd-mb.active {
        background-image: $SendActive;
        background-size: 32px;
    }

    #secured-mess-body {
        min-height: 80px;
        border: 1px solid grey;
    }

    .flex-direction {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        .reply-section, .view-section, .new-section {
            border-radius: 0px;
            padding: 20px 10px;
        }
    }

    .reply-section {
        box-shadow: 0 -2px 0px -1px #00000040;
    }

    .visible-dropdown {
        left: 75px !important;

        label {
            margin: 5px 0px 0px !important;
        }
    }

    .mb-new-msg {
        width: 88px;
        height: 88px;
        bottom: 0px;
        left: 80%;
        padding: 25px 0px;
        text-align: center;
        background-color: #494949;
        border-radius: 50px;
        position: sticky;
        display: block;
    }

    .mb-page-title {
        font-weight: 700;
        font-size: 32px;
        padding: 0px 10px;
        color: $colTxtHd;
    }

    .ico-close {
        content: $IcoClose;
    }

    .view-section, .new-section {
        box-shadow: none !important;
    }

    .center-column {
        hr {
            margin: 15px 0px !important;
        }
    }

    .main-padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .grp-info {
        width: 100%;
        padding: 10px;
        background-color: #F5F5F5;
        border-radius: 8px;

        a {
            color: #FFC50D;
        }
    }

    .alert-popup {
        top: 54%;
        left: 0px;
    }

    .new-page {
        .medium-12.dk-hide {
            display: flex !important;
        }
    }

    .btn-fltr {
        content: $BtnFltr;
        display: block;
    }
}

@media only screen and (min-width: 980px) {
    .hover-table:hover {
        .hover-checkbox {
            display: block !important;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .slct-actions {
        gap: 12%;

        img {
            height: 13px;
            margin-top: 4px;
        }
    }

    .mutli-slct-btn {
        font-size: 14px;
    }

    .message-list-section {
        max-height: 400px !important;
    }
}

.loadMoreActionlnk {
    background-color: white;
    display: block;
    align-content: center;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2509803922);
    padding: 10px 0px;
    font-weight: 700;
    text-decoration: underline;
    color: $TxtClr;
}

.message-list-section {
    max-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
}

.email-txt-ovflw {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}