.popup {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    padding: 12px 11px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
}

.action-row {
    display: flex;
    align-items: center;
}

.icon-label-button {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.icon-label-button img {
    height: 20px;
    margin-right: 5px;
}

.icon-label-button span {
    color: #494949;
}

.icon-label-button:hover {
    background-color: #FDFDFD;
    border-radius: 8px;
}

.icon-label-button {
    margin-right: 10px;
}

button:hover {
    background-color: #F2F4F0;
    border-radius: 5px;
}

button {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
    border: none;
}

.scroll-container {
    max-height: 200px;
    overflow-y: auto;
}

.sharewith-mob-row {
    display: none;
}

.container.hidden {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

/* typical phone screen resolution */
@media only screen and (max-width: 667px) {
    .small-8 {
        width: 100% !important;
    }

    .small-2.visibility-select {
        padding-left: 10px;
        width: 85% !important;
    }

    .small-2.mob-add-button {
        padding-left: 20px;
        width: 50% !important;
    }

    .sharewith-row {
        display: none;
    }

    .sharewith-mob-row {
        display: block;
    }

    .share-box {
        height: 25px;
        width: 25px;
    }

    #Add-Share-Users {
        display: none;
    }

    .add-image {
        display: block;
        height: 37px;
    }
}