.page-title {
    position: relative;
    padding-right: 20px;
    width: max-content;
    font-weight: 800;
    color: $TxtClr;
    margin-bottom: 30px;
}

.page-title::before {
    content: '';
    position: absolute;
    background-image: $Titlelogo;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center center;
}

//top menu
.update-btn {
    background-image: url(/images/default/icoUpdt.svg);
    background-position: top 7px right 3px;
    background-repeat: no-repeat;
    border: 1px solid #E0922F;
    border-radius: 4px;
    padding: 7px 22px 7px 6px;
    text-decoration: none;
    color: #E0922F;
    font-size: 12px;
    font-weight: 700;
}

.top-menu {
    float: right;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;

    a {
        text-decoration: none;
    }
}

.mb-prfle {
    background-color: $PflBg;
    color: $TxtClr;
    height: 50px;
    width: 50px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: 700;
    padding: 14px 10px;
}

.mb-prfle.active {
    color: white;
    background-color: $BgrndCol;
}

.back-arrow {
    content: $IcoBack;
}

.goback-text, .acc-txt {
    padding-left: 20px;
    font-weight: 700;
    font-size: 31px;
}

.sttng-icon, .notif-icon {
    height: 20px;
}

.top-menu a.active {
    .notif-icon {
        content: $IcoNotifsublvl;
    }

    .sttng-icon {
        content: $IcoSttngsActv;
    }
}

.center-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.align-items {
    display: flex;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

//font-styles
.font-small {
    font-size: 8px;
    font-weight: 700;
}

.font-medium {
    font-size: 12px;
    font-weight: 700;
}

.font-high {
    font-size: 14px;
    font-weight: 700;
}

.font-bold {
    font-weight: 700;
    font-size: 16px;
}

.font-large {
    font-weight: 800;
    font-size: 14px;
}

.font-extra-bold {
    font-weight: 800;
    font-size: 16px;
}

.txt-clr {
    color: $TxtClr;
}

.text-center {
    text-align: center !important;
}

.highlight-text span {
    font-weight: 700;
    color: $TxtClr;
}

.bold-highlight span {
    font-weight: 700;
}

//center popup
.modalDialog.open {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog.close {
    opacity: 0;
    pointer-events: auto;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99999;
}

.modalDialog > div {
    width: 35%;
    min-width: 450px !important;
    height: fit-content;
    position: relative;
    margin: 13% auto;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.close-img {
    content: $IcoErr;
    float: right;
    cursor: pointer;
    position: relative;
}

//Beside popup
.model-popup {
    border: 1px solid $BorderClr;
    padding: 20px;
    background-color: $WhtBgClr;
    border-radius: 16px;
    z-index: 1;
    box-shadow: 12px 12px 20px 0px #23232340;
}

//hover popup
.hover-popup, .home-hover {
    width: 162px;
    height: 95px;
    padding: 10px;
    background-color: $BgrndCol;
    border-radius: 5px;
    position: absolute;
    right: 80%;
    transform: translateX(50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.hover-popup::after {
    content: "";
    position: absolute;
    top: 20.8%;
    right: -17px;
    transform: translateY(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid $BgrndCol;
}

.home-hover {
    height: fit-content;
    top: 28% !important;
    padding: 15px 7px;
    position: relative !important;
}

.settings-menu-hover {
    height: fit-content;
    top: auto !important;
    margin-top: -5px;
}

//toggle button
.toggle {
    position: relative;
    display: inline-block;
    width: 89px;
    height: 40px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.back-btn {
    content: $Backbtn;
    width: 35px;
    height: 35px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: $BgrndCol;
}

input:focus + .slider {
    box-shadow: 0 0 1px $BgrndCol;
}

input:checked + .slider:before {
    transform: translateX(48px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 40px;
}

.slider.round:before {
    border-radius: 50%;
}

.on-off-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    padding: 0 8px;
    color: white;
}

.on-text {
    left: 8px;
}

.off-text {
    right: 8px;
    color: #494949;
}

.toggle input:checked + .slider .on-text {
    color: white !important;
}

.toggle input:checked + .slider .off-text {
    color: white;
}

//button
.btn-large {
    width: 154px;
    padding: 10px 30px;
    border-radius: 8px;
}

.btn-medium {
    padding: 5px 20px;
    width: 110px;
}

.btn-small {
    padding: 5px 20px;
    width: 95px;
}

.btn-extra-small {
    padding: 7px 10px;
    width: 95px;
    margin-top: 20px;
}

.button.success {
    color: $WhtTxtClr;
    background-color: $SucssBtnBgDflt;
    border: none !important;
}

.button.success:hover {
    background-color: $BgrndCol;
}

.button.cancel {
    background-color: $WhtBgClr;
    border: 1px solid $ButCanBorder;
    color: $ButCanTxtCol;
}

.button.border {
    background-color: $WhtBgClr;
    border: 1px solid $BorderClr !important;
    color: $TxtClr;
}

.button.cancel:hover,
.button.border:hover {
    background-color: $butDefaultHoverCol;
}

.button.active {
    color: $WhtTxtClr;
    background-color: $BgrndCol;
    border: none !important;
}

.button.alert {
    color: #FFFFFF;
    background-color: $butAlertCol;
    border: 1px solid $butAlertBorder;
}

.button.alert:hover,
.button.alert:focus {
    background-color: $butAlertHover;
}

.small-1 {
    width: 8.3333333333%;
}

.small-2 {
    width: 13.7%;

    input[type=text] {
        height: 36px;
        width: 100%;
        background-size: 16px;
        transition: all 0.2s ease-in-out;
        border-radius: 5px;
        border: 1px solid #D1D1D1;
        outline: none;
    }
}

.small-3 {
    width: 25%;
}

.small-4 {
    width: 33.3333333333%;
}

.small-5 {
    width: 41.6666666667%;
}

.small-6 {
    width: 50%;
}

.small-7 {
    width: 58.3333333333%;
}

.small-8 {
    width: 72.6%;
}

.small-9 {
    width: 75%;
}

.small-10 {
    width: 83.3333333333%;
}

.small-11 {
    width: 91.6666666667%;
}

.small-12 {
    width: 100%;
}

.small-offset-0 {
    margin-left: 0 !important;
}

.small-offset-1 {
    margin-left: 8.3333333333% !important;
}

.small-offset-2 {
    margin-left: 16.6666666667% !important;
}

.small-offset-3 {
    margin-left: 25% !important;
}

.small-offset-4 {
    margin-left: 33.3333333333% !important;
}

.small-offset-5 {
    margin-left: 41.6666666667% !important;
}

.small-offset-6 {
    margin-left: 50% !important;
}

.small-offset-7 {
    margin-left: 58.3333333333% !important;
}

.small-offset-8 {
    margin-left: 66.6666666667% !important;
}

.small-offset-9 {
    margin-left: 75% !important;
}

.small-offset-10 {
    margin-left: 83.3333333333% !important;
}

.small-offset-11 {
    margin-left: 91.6666666667% !important;
}

.medium-1 {
    width: 8.3333333333%;
}

.medium-2 {
    width: 16.6666666667%;
}

.medium-3 {
    width: 25%;
}

.medium-4 {
    width: 33.3333333333%;
}

.medium-5 {
    width: 41.6666666667%;
}

.medium-6 {
    width: 50%;
}

.medium-7 {
    width: 58.3333333333%;
}

.medium-8 {
    width: 66.6666666667%;
}

.medium-9 {
    width: 75%;
}

.medium-10 {
    width: 83.3333333333%;
}

.medium-11 {
    width: 91.6666666667%;
}

.medium-12 {
    width: 100%;
}

.row, .columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Alert boxes*/
.alert-box {
    font-size: 14px;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1;
    width: 395px;
}

.alert-box.alert {
    background-color: #e95e47;
    border: 1px solid #cf2a0e;
}

.alert-box.success {
    background-color: $BgrndCol;
    border: 1px solid #6a9d53;
}

/*for input validation*/
.input-error {
    border: 1px solid red !important;
    box-shadow: 0px 0px 7.9px 0px #FADCCE;
}

.validation-message {
    font-size: 12px;
    color: red;
    margin-top: -8px;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

.validation-message::before {
    content: '';
    background-image: url(/images/default/Errorinfo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.empty-view-heading {
    color: #494949;
    font-size: 20px;
    font-weight: 800;
}


.modal-header {
    font-size: 20px;
    padding: 20px;
    border-bottom: none;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .button.success {
        background-color: $BgrndCol !important;
        height: 40px;
    }

    .mb-btn-wid {
        width: 100%;
    }

    .top-menu {
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        display: flex;
    }

    .sttng-icon, .notif-icon {
        height: 32px !important;
    }

    .upgrade-button {
        margin-left: 0% !important;
    }

    .upgrade-premium,
    .upgrade-business {
        float: none !important;
    }

    .modalDialog > div {
        margin: 60% auto;
        padding: 10px 10px 20px;
        border-radius: 29px;
        text-align: center;
        width: 70%;
        height: auto;
    }

    .page-title::before {
        background-image: none;
    }

    .alert-box {
        bottom: 30px;
        left: 30px;
        width: 330px;
    }
}

@media (max-width: 1140px) {
    .mb-title {
        color: #494949;
        margin: 5% 0%;
        text-decoration: none;
    }

    .model-popup {
        width: 30%;
        padding: 20px 10px;
    }
}

@media (min-width: 769px) and (max-width: 1350px) {
    .padding-size {
        padding: 0px 15px;
    }
    .page-title, h1 {
        font-size: 32px !important;
    }
}

@media (min-width: 1351px) {
    .page-title, h1 {
        font-size: 40px !important;
    }
}