.tabicon {
    max-width: 13px;
    max-height: 16px;

    &.decrypt-ico {
        content: url(/images/default/IcoOpnScrdGry.svg);
    }

    &.encrypt-ico {
        content: url(/images/default/IcoScrGry.svg);
    }
}

.action-tabs {
    width: 302px;
    height: 36px;
    background-color: $colDsblBg;
    border-radius: 57.5px;
    display: flex;
    text-align: center;

    > .act-tab {
        width: 156px;
        height: 36px;
        padding: 5px 0;

        &.active {
            background-color: $Colsublvl !important;
            border-radius: 57.5px;

            .decrypt-ico {
                content: url(/images/default/IcoOpnScrd.svg) !important;
            }

            .encrypt-ico {
                content: url(/images/default/IcoScr.svg) !important;
            }

            > a {
                font-weight: 700;
                color: #FFFFFF;
            }
        }

        > a {
            padding-left: 5px;
            color: $colDsbl;
            font-size: 16px;
            text-decoration: none;
        }
    }
}


.copy-clipboard-ico {
    content: $IcoClipboard;
}

.download-ico {
    content: $IcoDwnld;
}

.email-ico {
    content: $IcoEml;
}

.sharelink-ico {
    content: $IcoLnk;
}

.custom-password-help-hoverpopup {
    height: fit-content;
    padding: 15px 7px;
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 10;
}



.encryp-and-reset-btn {
    display: flex;
    gap: 20px;
    padding: 15px 0;
}

.multi-btn {
    display: flex;
    gap: 20px;
    font-size: 14px;
    max-width: 90%;
}

.multi-actn-btn {
    height: 34px;
    text-align: center;
    background-color: #ffffff;
    color: $colTxtlble;
    border: 1px solid $BorderClr;
    border-radius: 4px;

    @media (max-width: 1250px) {
        min-width: 150px;
    }

    @media (min-width: 1251px) {
        min-width: 182px;
    }
}


    .entr-txt-box .pswrd .encrypt-txt-box {
        font-size: 14px;
    }

    .entr-txt-box {
        width: 90%;
    }

    .che-box {
        width: 16px;
        height: 16px;
        border: 2px solid #FFFFFF;
    }

    .password-container {
        position: relative;
        width: 416px;
        height: 55px;
    }

    .password-container input {
        width: 100%;
        padding: 10px 40px 10px 10px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .encrypt-txt-box {
        width: 90%;
        padding-left: 10px;
    }

    .hide-password-ico, .show-password-ico {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .hide-password-ico {
        content: $HiddenPasswordIco;
    }

    .show-password-ico {
        content: $ShownPasswordIco;
    }