.mng-accnt {
    content: $IcoMngAccnt;
}

.desk-acnt-popup, .desk-stngs-popup, .notification-popup {
    position: absolute;
    top: 110px !important;
    right: 2.5%;
    text-align: left;
    z-index: 1;

    a {
        text-decoration: none;
        color: #494949;
    }
    /*    a:hover {
        background: $HglhtTxt;
    }*/

    img {
        height: 18px;
    }
}

.text-overlfow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 160px;
    position: relative;
    top: 10px;
    white-space: nowrap;
    padding-left: 5px;
}

.acc-subs {
    display: block;
    width: 70%;
    margin: 1% auto 5%;
    text-align: center;
    line-height: 26px;
}

.can-subs {
    color: $CanSubsClr !important;
    text-decoration: underline !important;
    padding-top: 10px;
    text-underline-offset: 5px;
    background: none;
}

.manage-acc-sec {
    img {
        padding-right: 10px;
        opacity: 0.7;
    }

    a {
        color: $colDsbl !important;
        padding: 10px 5px;
    }

    .log-out-clr {
        color: $colRed;
    }
}

.key-mngnt-Popup {
    width: 32%;

    label {
        padding: 4px;
    }

    .act-clr {
        color: #000;
        display: block;

        &.disabled {
            color: #aaa;
            pointer-events: none;
            background-color: transparent;
        }
    }

    .act-clr:not(.disabled):hover {
        color: $TxtClr !important;
        margin: 0 -19px;
        padding: 5px 24px;
    }
}

.subs-dtls-popup {
    .center-column {
        margin: 20px 10px;
        line-height: 28px;
        gap: 12px;
    }

    .ico-user-dk {
        content: $IcoUserDesk;
    }

    span {
        padding-right: 8px;
    }
}

.sub-pop1 {
    position: absolute;
    right: 19%;
    top: 35%;
}

.sub-pop2 {
    position: absolute;
    right: 19%;
    top: 39%;
}

.sub-pop2 a.active,
.sub-pop2 a:hover {
    background-color: $colAvtr;
    color: $TxtClr !important;
    padding: 10px 25px;
    margin: 0 -20px;
}

.desk-stngs-popup.model-popup {
    padding: 20px 0 !important;
}

.settings-menu-item-container {
    padding: 0 20px;

    .stngs-menu-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        top: 90px;
        left: 20px;

        &.IcoEye {
            content: Url(/images/default/IcoEye.svg);
        }

        &.Ico256 {
            content: Url(/images/default/Ico256.svg);
        }

        &.IcoIncldFldrs24px {
            content: Url(/images/default/IcoIncldFldrs24px.svg);
        }

        &.Icoinactsign {
            content: Url(/images/default/IcoSlpMd.svg);
        }

        &.IcoRstr {
            content: Url(/images/default/IcoRstr.svg);
        }

        &.IcoAdvsSttns {
            content: Url(/images/default/IcoAdvsSttns.svg);
        }

        &.IcoOffln {
            content: Url(/images/default/IcoOffln.svg);
        }

        &.IcoEncrptSttgs {
            content: Url(/images/default/IcoEncrptSttgs.svg);
        }

        &.IcoInvtFrnd {
            content: Url(/images/default/IcoInvtFrnd.svg);
        }

        &.IcoDbg {
            content: Url(/images/default/IcoDbg.svg);
        }

        &.IcoChckVrsn {
            content: Url(/images/default/IcoChckVrsn.svg);
        }

        &.IcoOptns {
            content: Url(/images/default/IcoOptns.svg);
        }

        &.IcoLgng {
            content: Url(/images/default/IcoLgng.svg);
        }

        &.IcoUsers {
            content: Url(/images/default/IcoUsers.svg);
        }

        &.IcoBrkFl {
            content: Url(/images/default/IcoBrkFl.svg);
        }

        &.IcoChckVer {
            content: Url(/images/default/IcoChckVer.svg);
        }

        &.IcoChckFl {
            content: Url(/images/default/IcoChckFl.svg);
        }

        &.IcoErrRprt {
            content: Url(/images/default/IcoErrRprt.svg);
        }
    }

    &:hover, &.selected {
        background: $HglhtTxt;

        .IcoEye {
            content: $IcoEye;
        }

        .Ico256 {
            content: $Ico256;
        }

        .IcoIncldFldrs24px {
            content: $IcoIncldFldrs24px;
        }

        .Icoinactsign {
            content: $IcoSlpMd;
        }

        .IcoRstr {
            content: $IcoRstr;
        }

        .IcoAdvsSttns {
            content: $IcoAdvsSttns;
        }

        .IcoOffln {
            content: $IcoOffln;
        }

        .IcoEncrptSttgs {
            content: $IcoEncrptSttgs;
        }

        .IcoInvtFrnd {
            content: $IcoInvtFrnd;
        }

        .IcoDbg {
            content: $IcoDbg;
        }

        .IcoErrRprt {
            content: $IcoErrRprt;
        }

        .IcoChckFl {
            content: $IcoChckFl;
        }

        .IcoChckVer {
            content: $IcoChckVer;
        }

        .IcoBrkFl {
            content: $IcoBrkFl;
        }

        .IcoUsers {
            content: $IcoUsers;
        }

        .IcoLgng {
            content: $IcoLgng;
        }

        .IcoOptns {
            content: $IcoOptns;
        }

        .IcoChckVrsn {
            content: $IcoChckVrsn;
        }

        .next-arrow {
            float: right;
            content: $IcoDrpDwn;
            padding-top: 3px;
            height: 14px;
            margin: 5px 0px 0 20px;
        }
    }
}

.profile-option-container a.active,
.profile-option-container a:hover {
    .kym-sec {
        content: $IcoKMngmnt;
    }

    .next-arrow {
        float: right;
        content: $IcoDrpDwn;
        padding-top: 5px;
        height: 14px;
    }

    .sgn-out-img {
        content: $IcoSngOut;
    }

    .dbg-img {
        content: $IcoDbg;
    }

    .encrypt-file-prop-img {
        content: $BtnFltrAct;
    }
}

.key-mngnt-Popup a:hover, .key-mngnt-Popup dd:hover, .manage-acc-sec a:hover, .manage-acc-sec dd:hover {
    background-image: $IcoIndctr;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: $HglhtTxt;
    color: $TxtClr !important;
}

.key-mngnt-Popup a:hover .log-out-clr, .key-mngnt-Popup dd:hover .log-out-clr, .manage-acc-sec a:hover .log-out-clr, .manage-acc-sec dd:hover .log-out-clr {
    opacity: 0.8;
}

.key-mngnt-Popup a:hover, .manage-acc-sec a:hover {
    padding: 10px 25px;
    padding: 10px 25px;
    margin: 0 -20px;
}

.key-mngnt-Popup dd, .manage-acc-sec dd {
    padding: 5px;
    margin-bottom: 0px;
}

.key-mngnt-Popup dd:hover, .manage-acc-sec dd:hover {
    padding: 5px 25px;
    margin-left: -20px;
    margin-right: -20px;
}

.acnt-upg {
    color: #48772C;
    background-color: #fff;
    border: 1px solid #48772C;
    margin: 10px auto;
}

.subs-required {
    background: Url(/images/free/subs-req-sparkle.svg) no-repeat top right;
    background-size: auto;
    padding-right: 15px;
}

.dsbl-clr {
    color: $colTxtDsbl;
}

#inactivity input[type="radio"] {
    width: 16px;
    height: 16px;
}

#inactivity input[type="radio"] + label {
    color: $colTxtDsbl;
    font-size: 12px;
    padding: 2px 5px;
}

#inactivity input[type="radio"]:checked + label {
    color: #000;
}

.invite-text {
    text-align: left !important;

    input[type=text] {
        width: 100%;
        color: $TxtClr;
        border-radius: 5px;
        height: 32px;
        border: 0.2px solid #494949 !important;
    }

    input[type=text]::Placeholder {
        color: $FlActBg !important;
    }
}

.invite-popup {
    .center-column {
        flex-direction: column;

        div {
            padding-bottom: 10px;
            width: 100%;
        }
    }
}

#date-modified-toggle {
    img {
        padding-right: 5px;
        vertical-align: text-top;
    }
}

.notification-badge {
    position: absolute;
    width: 15px;
    height: 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    background: $Colsublvl;
    position: absolute;
    font-size: 8px;
    margin-left: 12px;
}

//for the notification popup//
@media (min-width: 1139px) {
    .notification-popup .notification {
        position: relative;
        margin-right: 500px;
    }

    .notifi-popup {
        width: 100%;
        margin-bottom: 0rem !important;
        font-size: 12px;

        tr {
            background-color: transparent !important;
            border-top: 1px solid $BorderClr;
            border-bottom: 1px solid $BorderClr;
        }

        span {
            font-weight: 700;
            font-size: 9px;
        }
    }

    .notif-popup-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        width: 150px;
        display: inline-block;
        padding: 15px 20px;
    }

    .noticlearall {
        float: right;
        position: absolute;
        right: 20px;
        padding-top: 15px;
    }

    .notifipopup-show {
        display: inline-block;
        width: 100%;
        padding: 15px 120px;
        text-align: center;
    }

    .bgrnd-clr {
        .unrd-img {
            content: $IcoUnrdNtfctns;
        }
    }

    .notification-popup {
        display: flex;
        position: absolute;
        z-index: 1;
        width: 440px;
        height: auto;
        border-radius: 15px;
        border: 1px solid $BorderClr;
        box-shadow: 12px 12px 20px 0px #23232340;
        background-color: #ffffff;
        flex-wrap: wrap;
        right: 2.5%;
        top: 12%;
        flex-direction: column;

        tr td {
            padding-right: 0px !important;
            //color: $FlActBg;
            color: $TxtClr;

            &.bgrnd-clr {
                background-color: $colAvtr;
                color: $TxtClr;
            }
        }

        a {
            color: $TxtClr !important;
            font-weight: 700;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .encrypt-pop {
        top: 58%;
    }
}

//languages dropdown
.drp-dwn {
    content: $IcoBack;
    transform: rotate(-90deg);
    width: 8px;
    margin-left: 18px;
}

.dropbtn {
    background-color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: $colDsbl;
}

.dropbtn.active {
    border-radius: 4px;
    border: 1px solid #000000;
    color: $TxtClr;

    .down {
        transform: rotate(90deg);
    }
}

.tick-icon {
    content: $TickMark;
    position: absolute;
    right: 0px;
}

.language-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 4px 4px 4px 0px #00000040;
    z-index: 1;
    height: 255px;
    overflow-y: auto;
    border: 1px solid $BorderClr;
    border-radius: 0px 0px 4px 4px;

    a.active, a:hover {
        color: $TxtClr;
    }
}

.language-item {
    color: $colDsbl;
    padding: 7px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-item img {
    padding-right: 10px;
}

.language-item:hover {
    background-color: $PflBg;
}

/* Customize the scrollbar */
.language-dropdown::-webkit-scrollbar {
    width: 4px;
}

.language-dropdown::-webkit-scrollbar-thumb {
    background-color: $TxtClr;
}

//popup top triangle code for all top menu's
.notification-popup:after,
.notification-popup:before,
.desk-acnt-popup:after,
.desk-acnt-popup:before,
.desk-stngs-popup:after,
.desk-stngs-popup:before,
.lang-popup:after,
.lang-popup:before {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    transform: translateX(50%);
    border-style: solid;
}

.notification-popup:after,
.desk-acnt-popup:after,
.desk-stngs-popup:after,
.lang-popup:after {
    border-color: transparent transparent #FFFAFA transparent;
    border-width: 0 10px 20px 10px;
}

.notification-popup:before,
.desk-acnt-popup:before,
.desk-stngs-popup:before,
.lang-popup:before {
    border-color: transparent transparent $BorderClr transparent;
    border-width: 0 11px 20px 11px;
}

.notification-popup:after,
.notification-popup:before {
    right: 42% !important;
}

.desk-acnt-popup:after,
.desk-acnt-popup:before {
    right: 25px !important;
}

.desk-stngs-popup:after,
.desk-stngs-popup:before {
    right: 240px !important;
}

@media (max-width: 768px) {
    .manage-acc-sec {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        justify-content: center;
        flex-direction: column;

        a {
            text-decoration: none;
        }
    }

    .subs-txt {
        font-size: 20px;
        font-weight: 800;
    }

    .text-overlfow {
        max-width: 190px;
        top: 8px;
    }
}

@media (min-width: 769px) and (max-width: 1139px) {
    .main-back-arrow, .acc-txt {
        display: none !important;
        visibility: hidden !important;
    }

    .hide-acc-popup, .hide-key-popup, .hide-setng-popup, .hide-inact-popup, .hide-dbug-popup, .hide-encrypt-file {
        display: none;
        visibility: hidden;
    }

    .model-popup .hide-setng-popup {
        display: none;
        visibility: hidden;
    }

    .notification-popup:after,
    .notification-popup:before {
        right: 40% !important;
    }

    .desk-acnt-popup:after,
    .desk-acnt-popup:before {
        right: 8% !important;
    }

    .desk-stngs-popup:after,
    .desk-stngs-popup:before {
        right: 48% !important;
    }
}

@media (max-width: 1139px) {
    .back-arrow, .main-back-arrow {
        content: $IcoBack;
    }

    .accnt-prfl {
        width: 78px;
        height: 78px;
        border-radius: 56px;
        margin: 0 auto 20px;
        padding: 25px 0px;
        color: $TxtClr;
        background-color: $PflBg;

        h3 {
            font-weight: 800;
            font-size: 24px;
        }
    }

    .acc-subs, .manage-acc-sec {
        label {
            font-size: 16px;
            font-weight: 700;
        }

        img {
            opacity: 1;
        }

        a {
            color: #494949 !important;
            padding: 0px;
        }

        table tbody tr {
            display: flex;
            align-items: flex-start;
            border-bottom: 2px solid #EFEFEF;

            td {
                padding: 10px 0px;

                img {
                    padding-right: 20px;
                }
            }
        }
    }

    .next-arrow {
        content: $IcoArrwNxt;
    }

    .dlt-dsbl {
        color: #D98D8B;
    }

    .left-align {
        padding-bottom: 20px;

        span {
            font-weight: 700;
        }
    }

    a {
        text-decoration: none;
    }

    .goback-text, .acc-txt {
        padding-left: 20px;
        font-weight: 700;
        font-size: 32px;
    }

    #inactivity input[type="radio"] + label {
        width: 98%;
        font-size: 16px;
    }

    #inactivity input[type="radio"]:checked + label {
        background-image: $TickMark;
        background-repeat: no-repeat;
        background-position: right;
        color: $TxtClr;
    }

    #inactivity input[type="radio"] {
        display: none;
    }
}

@media (min-width: 1140px) {
    /* Style the toggle switch for settings page */
    .desk-stngs-popup, .encrypt-pop {
        .toggle {
            max-width: 70px;
            height: 30px;
        }

        .slider {
            padding: 0 6px !important;
        }

        .slider:before {
            position: absolute;
            content: "";
            width: 24px;
            height: 23px;
        }

        input:checked + .slider:before {
            transform: translateX(38px);
        }

        .on-text {
            left: 6px;
        }

        .off-text {
            right: 5px;
        }
    }

    .accnt-prfl {
        width: 60px;
        height: 60px;
        border-radius: 70px;
        margin: 15px auto 0px;
        padding: 15px 14px;
        color: $TxtClr;
        background-color: $PflBg;

        h3 {
            font-weight: 700;
            font-size: 16px;
        }
    }

    .acc-subs {
        width: 90% !important;
    }
}

//mobile app notification  code
@media (max-width: 1140px) {
    .notif-mbl {
        display: flex;
        background-color: $colVwrAvtr;
        border-radius: 5px;
        padding: 16px;
        font-size: 14px;
        min-height: 75px;
        transition: transform 0.3s ease;

        &.earlier {
            opacity: 0.5;
        }

        > .notifi-img {
            flex-grow: 1;
        }

        > .notifi-text {
            flex-grow: 2.5;
            padding: 0 20px;
        }

        > .notifi-action {
            flex-grow: 1;
        }

        > .swipe-transformed {
            transform: translateX(-30%);
            transition: transform 0.3s ease;
        }
    }

    #notif-mbl {
        margin-right: 0px;
    }

    .swipe-action-confirm {
        display: none;
        margin-left: -100px;

        &.active {
            display: block;
            margin-right: 0px;
            position: absolute;
            right: 0px;

            > .swipe-item {
                width: 100%;
                height: 70px;
                border-radius: 4px;
                background-color: $colBtnPrmActv;
                content: Url(/images/default/Layer2.svg);
                padding: 27px;
                visibility: visible;
                box-shadow: 0px 4px 6px 0px $BoxShadowClr;
                transition: transform 0.5s ease;
            }
        }
    }

    .notification {
        display: none;
        width: 76px;
        height: 76px;
        border-radius: 4px;
        background-color: $colBtnPrmActv;
        content: Url(/images/default/Layer2.svg);
        padding: 27px;
        box-shadow: 0px 4px 6px 0px $BoxShadowClr;
        transition: transform 0.5s ease;
        margin-top: 7px;
    }

    .notif-mbl.swiped-left {
        overflow: hidden;
        margin-left: -80px;
        margin-right: 10px;

        .notification-unread-button {
            display: none;
        }
    }

    .notify-txt {
        font-Weight: 400;
        font-size: 12px;
    }
}

@media (max-width: 1400px) {
    .top-menu {
        gap: 15px;
    }
}