$colPageBgrnd: #121212;
$colDefTxt: #ffffff;
$colDefBgrnd: #ffffff;
$colActnBgrnd: #333232;
$colHeDBgrnd: #575757;
$TbleBg: #575757;
$BorderClr: #575757;
$SdebrbgndClr: #303030;
$colTxtlble: #A4A4A4;
$colTxtLink: #CDFFB1;
$colBordBgrnd: #282828;
$colBord: #CDFFB1;
$colDrkMdL3: #575757;
$colTxtBd: #FFFFFF;
$colDrkMdBushd: #757575;
$BtnBackClr: #48772C;
$colDrkMdHglhtPrm: #CDFFB1;
$fndfleTxtlble: #232323;
$loginImgBgnd: #494949;

.signin-right-img {
    background-color: $loginImgBgnd;
}

.sidebar, .sid-mnu-colpsd.side-menu {
    background: $SdebrbgndClr !important;
}

.nav-item .active,
.nav-item :hover {
    background-color: $TbleBg !important;
    color: $colTxtLink !important;
}

.link-box {
    background-color: $SdebrbgndClr !important;
    border: $colBordBgrnd !important;
    box-shadow: none !important;
}

.link-txt {
    color: $colTxtLink !important;
}

.label-text label, .lable-txt {
    color: $colTxtlble !important;
}

.desc-txt, .nav-link span, .select-email {
    color: $colTxtlble !important;
}

.sup-text-blur {
    background-color: $colBordBgrnd !important;
    border: $colBordBgrnd !important;
}

.btn-hide {
    background-color: $TbleBg !important;
    border: $BorderClr !important;
    color: $colDefTxt !important;
}

.model-popup, .act-clr, .notification-popup {
    background-color: $SdebrbgndClr !important;
    color: $colTxtBd !important;
}

.notify-pg-tbl-body td {
    color: $colTxtLink !important;
}

.notification-table th {
    background-color: $colHeDBgrnd !important;
    color: $colTxtLink !important;
}

.password-create-dropdown-content {
    background-color: $colBordBgrnd !important;
    color: $colTxtlble !important;
}

    .password-create-dropdown-content a:hover,
    .password-create-dropdown-content a.active {
        color: $colTxtLink !important;
        background-color: $colHeDBgrnd !important;
    }

#messenger-keyword {
    background-color: $colBordBgrnd !important;
    border: 1px !important;
}

#secrets-keyword {
    background-color: $colBordBgrnd !important;
    border: 1px !important;
}


.tab a:hover, .tab a.active {
    color: $colTxtLink !important;
}

.tab-selected {
    border: 3px solid $colBord !important;
}

.tab-sec a.active,
.tab-sec a:hover {
    color: $colTxtLink !important;
}

.fnt-high {
    background-color: $colActnBgrnd !important;
}


.mutli-slct-btn {
    color: $colTxtLink !important;
}

.page, .side-menu {
    background-color: $colPageBgrnd !important;
    color: $colTxtlble;
}

.page-title {
    color: $colDefTxt !important;
}

.fle-nme {
    color: $colTxtlble;
}

.text-style {
    color: $colDefTxt !important;
}

button {
    background-color: $colDefBgrnd;
    color: $colDefTxt;
    border: solid 1px;
}

.mre-actn-box {
    background-color: $TbleBg !important;
    border: $BorderClr !important;
}

    .mre-actn-box:hover {
        background-color: $SdebrbgndClr !important;
        color: $colTxtlble !important;
    }

.rcnt-fld-bx {
    background-color: $colActnBgrnd;
    border: $BorderClr;
    box-shadow: none !important;
    color: $colTxtlble !important;
}

.modalDialog > div {
    color: $colDefTxt;
    background-color: $colPageBgrnd !important;
}

.rcnt-fle-tbl {
    thead tr th {
        color: $colTxtlble !important;
        background: $TbleBg !important;
    }

    tbody tr {
        background: $colPageBgrnd !important;
    }

        tbody tr:hover,
        tbody tr.active,
        .selected td {
            background: $SdebrbgndClr !important;
        }
}

textarea, input[type=text], input[type=password], textarea[readonly], textarea {
    background-color: $colDrkMdL3 !important;
    color: $colTxtBd !important;
}

    input[readonly="readonly"], textarea[readonly] {
        border: $colDrkMdL3 !important;
    }

.clean-up textarea {
    color: $colTxtBd !important;
    background: $colDrkMdL3 !important;
}

.find-fle-nme {
    color: $fndfleTxtlble;
}

.notif-popup-bck {
    background-color: transparent !important;
}

.file-dec-icon {
    content: url(/images/IcoClnGrn.svg);
}


.page-heading {
    background-color: $colDrkMdBushd;
}

.sub-head-clr,
.lable-txt {
    color: $colTxtlble !important;
}

.model-popup {
    border: none;
}

.add-fldr-img {
    filter: brightness(0) saturate(90%) invert(50%);
}


.fldr-img {
    filter: brightness(0) saturate(90%) invert(50%);
}

.filter-text {
    color: $colTxtlble;
}

    .filter-text:hover {
        color: $TbleBg;
    }

.inbox-section table {
    background: $colBordBgrnd;
}

    .inbox-section table:hover {
        background: $colTxtlble;
    }

.email-txt-ovflw {
    color: $colTxtBd;
}

.rply-icon,
.dlt-icon {
    color: $colTxtBd;
}

.visble-button {
    background: $SdebrbgndClr;
    color: $colBord;
}

.secured-messenger select {
    color: $colBord !important;
    font-weight: 700;
}

.secured-messenger option {
    color: $colTxtlble;
}

    .secured-messenger option:hover {
        color: $colBord;
    }

.multi-actn-btn {
    background-color: $colDrkMdL3;
    color: $colTxtlble;
    border: $colTxtlble;
}

    .multi-actn-btn:hover {
        background-color: $colDrkMdL3;
    }

.button.border {
    border: 1px solid $SdebrbgndClr !important;
}

.button.success {
    background-color: $BtnBackClr !important;
    color: $colDefTxt !important;
}

.sub-box-bsns {
    background: $colDrkMdBushd;
}

.secured-messenger option:hover {
    color: $colBord;
}

.settings-menu-item-container img, .manage-acc-sec a img, .notifi-img img {
    filter: invert(1) !important;
}

.notification-popup {
    border: 1px solid $SdebrbgndClr;

    > .table {
        border-collapse: collapse;
    }

    tr {
        border: 1px solid $colDrkMdL3; /* Row border color */
    }
}

.password-filter-dropdown-content {
    background: $SdebrbgndClr;

    label {
        color: $colTxtlble !important;
    }

        label:hover {
            color: $colBord !important;
        }
}

    .password-filter-dropdown-content ul, .password-filter-dropdown-content li {
        border-bottom: none;
    }


.text-fnt-size {
    color: $colDrkMdL3;
}

.grey-clr {
    //color: $colDrkMdL3;
    font-weight: 700;
}

.home-index .fle-nme {
    color: $colTxtBd;
}

.txt-clr, .highlight-text > span {
    color: $colDrkMdHglhtPrm;
}

.abt-axc > span {
    color: $colTxtlble;
}

.home-hover {
    background-color: $SdebrbgndClr !important;

    .txt-clr {
        color: $colTxtlble !important;
    }
}

.dropbtn, .language-dropdown > .dropdown-item-container, .home-context-menu, .context-menu {
    background-color: $SdebrbgndClr !important;
    color: $colTxtBd;
}

.selected-file, .share-list {
    background-color: $TbleBg !important;
}

.empty-list {
    filter: opacity(0.8);
}

.menu-image, .mre-actn-box img, .close-img, .clck-img, .secrets-type-icon-desktop {
    filter: grayscale(1) brightness(10);
}

.file-keySh-icon {
    filter: invert(1) !important;
}

.fle-exton-img img {
    filter: grayscale(1);
}

.actv-subs {
    background-color: #ebebeb !important;
}


.flex-start .button {
    background-color: $SdebrbgndClr;
    color: $colTxtlble;
}

.button.border {
    background-color: $SdebrbgndClr;
    color: $colTxtBd;
}

    .button.border:hover {
        background-color: $TbleBg;
    }

.dropbtn.active {
    color: $colTxtBd !important;
    border: 1px solid $colTxtBd !important; //language drop down
}

.drp-dwn {
    filter: brightness(0) invert(1); //language drop down image
}

.language-dropdown {
    border: $colTxtlble;
}

.notification-popup tr td {
    color: $colTxtlble;

    :hover {
        color: $colDrkMdHglhtPrm;
        background-color: $TbleBg;
    }
}

.language-item:hover {
    background-color: $TbleBg;
    color: $colDrkMdHglhtPrm !important;
}

.password-create-dropdown-content dd a,
.notification-popup a {
    color: $colTxtlble !important;
}

.grn-clr:hover,
.grn-clr:focus {
    color: #48772c;
}

.dropdown-content {
    background-color: $colBordBgrnd;

    :hover {
        background-color: $TbleBg !important;
        color: $colDrkMdHglhtPrm !important;
    }
}

.back-arrow {
    filter: invert(50%) !important;
}

.tick-icon {
    filter: brightness(0) saturate(100%) invert(89%) sepia(13%) saturate(394%) hue-rotate(49deg) brightness(103%) contrast(101%);
}

.dropdown-content dd:hover,
.password-filter-dropdown-content dd:hover,
.password-create-dropdown-content dd:hover {
    background-color: $colDrkMdL3;
    color: $colDrkMdHglhtPrm;
}

.try-upgrade-plan-popup-container {
    color: $colTxtlble !important;
}

.vault-body label,
.vault-body span {
    color: $colTxtlble !important;
}

.multi-actn-btn {
    color: #fff;

    > img {
        filter: brightness(1.5);
    }
}

.file-picker-modalDialog .file-picker-dir-content {
    background: #575757;
}

.file-picker-modalDialog > div {
    background-color: $colTxtlble;
    color: white;
}

.file-picker-dir-content .file-list li {
    background-color: #A3A3A3;
    color: white;
}

.file-picker-modalDialog .filepicker-dropdown-menu-action {
    background-color: #A3A3A3;
}

.file-picker-modalDialog .file-path {
    color: #fff !important;
}

.vlt-body .file-name {
    color: $colTxtlble !important;
}
