#content-wrap {
    margin: 5% auto;
    padding: 0 50px;
}

.reg-sec {
    margin: 2.5% auto !important;
}

.login-title, .reg-tle {
    background-image: url(/images/premium/element2.svg);
    background-position: top right -8px;
    background-size: 150px 100px;
    background-repeat: no-repeat;
}

.login-title {
    width: max-content;
    padding: 45px 55px 50px 0;
    margin: 0 0 5% 0;
}

.reg-tle {
    padding: 40px 45px 30px 0;
}

.che-txt {
    color: #A4A4A4;
    Font-size: 12px;
    font-weight: 700;
}

.check-bx {
    width: 100%;
}

.signup-link {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.form-field {
    display: grid;
    margin: 1% 0 4%;
}

.signup-sec, .signup-sec input {
    color: #48772C;
    margin: 3% 10% 3% 0% !important;
}

.grn-clr {
    color: #48772C;
}

.fnt-wgt {
    font-weight: 800;
    font-size: 16px;
}

.left-section {
    width: 42.3%;
    float: left;
    padding: 5px 20px;
}

.right-section {
    width: 57.7%;
    float: right;
    margin: 0 auto;
    max-width: 57.7%;
}

.signin-right-img {
    background-image: url(/images/signin.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #F5F5F5;
}

.email-img, .pswd-img {
    background-repeat: no-repeat;
    float: left;
    text-indent: 30px !important;
    background-position: left 7px center;
    margin-bottom: 15px !important;
}

.email-img {
    background-image: url(/images/premium/IcoEmail.svg);
}

.pswd-img {
    background-image: url(/images/premium/IcoPsswrd.svg);
}

.form-control::placeholder {
    color: rgba(134, 185, 110, 0.5);
}

.form-control:focus {
    border-color: green;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

/* loading wheel*/
.loading-content {
    text-align: center;
}

.loading-content img {
    width: 100px;
    max-width: 100px;
    height: 100px;
    content: url(/images/default/Loading_560x560.gif);
    user-select: none;
    outline: none;
    pointer-events: none;
}

.loading-content span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* Full-page overlay */
.secrets-loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 10.99deg at 98.18% 128.62%,#FFFEE8 0deg,rgba(200, 199, 180, 0.8) 353.48deg,#F5FFF0 360deg);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.secrets-loading-overlay .loading-content span {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

/* no overlay*/
.secrets-loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-lang-drpdwn {
    position: absolute;
    right: 32px;
    top: 32px;

    .language-dropdown {
        right: 0px;
        min-width: 54px;

        img {
            padding: 0;
        }
    }
}

/* 🔒 Hide password reveal icon on Windows (Chromium-based WebView2) */
input[type="password"]::-ms-reveal {
    display: none;
}

/* 🧼 Hide WebKit (Mac) password reveal icon */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

/* ✅ Optional: remove any margin/padding that might make room for the icon */
input[type="password"] {
    padding-right: 0.5rem; /* Adjust as needed */
}

.fa-eye {
    content: url(/images/premium/IcoEye.svg);
}

.fa-eye-slash {
    content: url(/images/premium/IcoHiddenPassword.svg);
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.tfa-sub-head {
    font-weight: 800;
    font-size: 36px;
    margin: 0 5% 5% 0;
}

.login-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > .section-content-area {
        padding: 4.5% 3%;
    }

    > .section-bgimg-area {
        padding: 2.7% 0%;
        background-color: #F5F5F5;
    }

    @media only screen and (max-width: 950px) {
        text-align: center;

        h2 {
            font-size: 32px;
        }

        p {
            font-size: 16px;
        }
    }
}

.recry-code-btn {
    color: #87CA4E;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.verify-code-txt {
    @media only screen and (max-width: 950px) {
        margin: 8% 8%;
    }
}

.sprt-code-btn:hover,
.recry-code-btn:hover {
    color: #87CA4E;
}

.sprt-code-btn {
    text-decoration: none;
}

@media (max-width: 768px) {
    .login-btn {
        width: 100%;
        max-width: 308px;
        height: 59px !important;
        border-radius: 12px;
        background-color: #48772C;
        color: #ffffff;
        font-weight: 800;
        font-size: 24px;
    }

    .sgnup-btn {
        color: #48772C;
        background-color: #ffffff !important;
        border: 1px solid #48772C;
    }

    .login-img {
        max-width: 389px !important;
        width: 100%;
    }

    .mb-login-sec {
        margin: 5%;

        p {
            font-size: 12px;
            margin: 0 15%;
        }

        a {
            font-weight: 800;
            color: #494949;
        }
    }

    .mb-login {
        margin: 0px 10px;
    }

    .mb-login input[type=password],
    .mb-login input[type=email] {
        height: 59px !important;
        border-radius: 12px;
        text-indent: 20px !important;
        background-position: left 25px center;
    }

    .sgnup-sec {
        max-width: 308px;
        margin: 0 auto;

        input[type=email] {
            &::placeholder {
                color: #FFFFFF61;
            }
        }

        a {
            color: #48772C;
        }
    }

    .login-title {
        background-image: none;
        color: #48772C;
        padding: 20px 0px;
        font-weight: 800;
        font-size: 32px;
    }

    .sgnup-email {
        background-image: url(/images/premium/mobile/IcoEmail1.svg) !important;
        background-repeat: no-repeat !important;
        float: left;
        background-position: left 25px center !important;
        padding: 0px 30px 0px 50px;
    }

    .email-img {
        background-image: url(/images/premium/mobile/IcoEmail.svg);
    }

    .pswd-img {
        background-image: url(/images/premium/mobile/IcoKey.svg);
    }

    .email-img, .pswd-img {
        padding-left: 50px;
        background-position: top 5px left 7px center;
    }

    .sgnin-img {
        width: 100%;
    }

    .lght-grn {
        color: #FFFFFF61;
    }

    .unlck-popup {
        padding: 20px !important;

        img {
            padding-bottom: 10px;
        }

        a {
            color: #ffffff !important;
            text-decoration: none;
        }

        .button {
            width: 110.89px;
            height: 28px;
            padding: 3px 5px;
            border-radius: 8px;
        }

        .close-img {
            content: none;
        }
    }

    .login-back {
        content: url(/images/premium/BtnHd.svg);
        float: left;
    }

    .btn-rnd {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: #fff;
        position: absolute;
        padding: 6px 14px;
        top: 40px;
        left: 15px;

        img {
            height: 16px;
        }
    }

    .top-menu, .navbar-toggler-icon {
        display: none !important;
    }
    //carousel
    .singnup-carousel {
        margin: 50px 0px 0px;

        .lft-algn {
            text-align: left;
            font-weight: 800;
            margin-left: 30px;
            margin-right: 20px;
        }

        img {
            height: 266px;
            margin-bottom: 52px;
            margin-top: 25px;
            text-align: center;
        }

        a {
            text-align: center;
        }
    }

    .login-link {
        a {
            text-decoration: underline;
            text-underline-offset: 4px;
            color: #494949;
            font-weight: 600;
        }
    }

    .carousel-inner {
        text-align: center;
    }

    .carousel-item {
        min-height: 485px;
        width: 98%;
        margin: 0 auto;
    }

    .carousel-item.active {
        display: block;
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 30px;
    }

    .indicator {
        margin: 0 5px;
        font-size: 20px;
        cursor: pointer;
        width: 10px;
        height: 10px;
        border-radius: 15px;
        border: 1px solid #48772C;
    }

    .active-indicator {
        color: #48772C;
        background-color: #48772C;
    }
}

@media (min-width: 1500px) {
    .reg-tle {
        width: max-content;
    }
}