@import "../_basevariables";

//colors
$HdTxtClr: #494949;
$ActnBgClr: #48772C;
$BorderClr: #48772C;
$TxtClr: #48772C;
$BoxShadowClr: rgba(49, 73, 35, 0.25);
$SdeMnuTxtClr: #48772C;
$BtnBackClr: #48772C;
$SdeMnubgndClr: #FFFFFF;
$SdebrbgndClr: conic-gradient(from 11deg at 98.18% 128.62%, rgba(72, 119, 44, 0.70) 0deg, rgba(72, 119, 44, 0.07) 353.47740411758423deg);
$SdebrbgndClrMb: rgba(181, 206, 169, 1);
$colTxtlble: #48772C;
$TblhdBgClr: #E5ECE1;
$colVwr: #48772C;
$Colsublvl: #48772C;
$colVwrAvtr: #D2DCCD;
$colBtnPrmActv: #48772C;
$colTxtRglrHd: #494949;
$colActvMb: #B5CEA9;
$colMbrDsbl: #96AD88;
$colDsblBg: #D9D9D9;
$FlbgMb: #D2DCCD;
$FltxtAct: #48772C;
$FlActBg: #B5CEA9;
$colFldMbbxshdw: rgba(89, 129, 65, 0.30);
$colBg: #48772C;
$MreActBg: #86B96E;
$TitleClr: #48772C;
$colTxtHd: #86B96E;
$fltTxtClr: #86B96E;
$colTxtSubHd: #48772C;
$colToggleBtn: #48772C;
$colActive: #48772C;
$colLckd: #FFFFFF;
$colBtnStrk: #48772C;
$colBtnDsbl: rgba(72, 119, 44, 0.5);
$colBTnActive: #48772C;
$ImgBGCard: #FFFFFF;
$colTxtPrmBd: #48772C;
$BgrndCol: #48772C;
$PflBg: #C5CFC0;
$CanSubsClr: #B5CEA9;
$colNtfctnNw: #E5ECE1;
$SucssBtnBgDflt: #96AD88;
$FileBg: #EDF1EA;
$colAvtr: #C5CFC0;
$TbleBg: #EEF7E9;
$colshareActive: #48772C;
$shrwithbox: #B5CEA9;
$fileboxbckgrd: #E1F2D8;
$psmgrBgClr: #E8FEDE;
$psmgrTxtClr: #48772C;
$ShareSecretBack: #E1F2D8;
$ShareWidBg: #DAE7D4;
$HglhtTxt: #E8FEDE;

//images
$IcoEye: url(/images/premium/IcoEye.svg);
$Ico256: url(/images/premium/Ico256.svg);
$IcoIncldFldrs24px: url(/images/premium/IcoIncldFldrs24px.svg);
$IcoSlpMd: url(/images/premium/IcoSlpMd.svg);
$IcoRstr: url(/images/premium/IcoRstr.svg);
$IcoAdvsSttns: url(/images/premium/IcoAdvsSttns.svg);
$IcoOffln: url(/images/premium/IcoOffln.svg);
$IcoEncrptSttgs: url(/images/premium/IcoEncrptSttgs.svg);
$IcoInvtFrnd: url(/images/premium/IcoInvtFrnd.svg);
$IcoDbg: url(/images/premium/IcoDbg.svg);
$IcoChckVrsn: url(/images/premium/IcoChckVrsn.svg);
$IcoOptns: url(/images/premium/IcoOptns.svg);
$IcoLgng: url(/images/premium/IcoLgng.svg);
$IcoUsers: url(/images/premium/IcoUsers.svg);
$IcoBrkFl: url(/images/premium/IcoBrkFl.svg);
$IcoChckVer: url(/images/premium/IcoChckVer.svg);
$IcoChckFl: url(/images/premium/IcoChckFl.svg);
$IcoErrRprt: url(/images/premium/IcoErrRprt.svg);
$icoExtrFtrs: url(/images/premium/icoExtrFtrs.svg);

$IcoDlt: url(/images/premium/IcoDlt.svg);
$IcoAPIKey: url(/images/premium/IcoAPIKey16px.svg);
$IcoVd: url(/images/premium/IcoVd.svg);
$ImgPsswrdGnrt: url(/images/premium/ImgPsswrdGnrt.svg);
$IcoUserDefault: url(/images/default/IcoUser.svg);
$IcoUser: url(/images/premium/IcoUser.svg);
$IcoScrdFldr: url(/images/premium/icoScrdFldr.svg);
$IcoScrts: url(/images/premium/IcoScrts.svg);
$IcoScrdMssngr: url(/images/premium/IcoScrdMssngr.svg);
$IcoActivity: url(/images/premium/IcoActivity.svg);
$IcoSupport: url(/images/premium/IcoSupport.svg);
$IcoFdbck: url(/images/premium/IcoFdbck.svg);
$IcoInfOld: url(/images/premium/IcoInfOld.svg);
$IcoIndctr: url(/images/premium/IcoIndctr.svg);
$IcoHd: url(/images/premium/BtnHd.svg);
$IcoExpbd: url(/images/premium/BtnExpbd.svg);
$IcoBrgMn: url(/images/premium/IcoBrgMn.svg);
$IcoUnrdNtfcns: Url(/images/premium/IcoUnrdNtfctns.svg);
$FrmStts: Url(/images/premium/FrmStts.svg);
$IcoFldr: url(/images/premium/IcoFldr.svg);
$IcoCstmzActn: url(/images/premium/IcoCstmzActn.svg);
$IcoOptns: url(/images/premium/IcoOptns.svg);
$IcoPwdMngrMb: url(/images/premium/IcoPwdMngr.svg);
$IcoVdMb: url(/images/premium/mobile/IcoVideoFile.svg);
$IcoPicMb: url(/images/premium/mobile/IcoPictureFile.svg);
$IcoMusMb: url(/images/premium/mobile/IcoMusicFile.svg);
$IcoDocMb: url(/images/premium/mobile/IcoTextFile.svg);
$BtnFltrAct: url(/images/premium/BtnFltr.svg);
$IcoSort: url(/images/premium/IcoSort.svg);
$Backbtn: url(/images/premium/mobile/BtnBack.svg);
$IcoNotifsublvl: url(/images/premium/mobile/IcoNtfctnActv.svg);
$ScrtFilterImg: url(/images/premium/IcoFilter.svg);
$ScrtPasswordImg: url(/images/premium/IcoPassword.svg);
$ScrtCardImg: url(/images/premium/IcoCard.svg);
$ScrtNoteImg: url(/images/premium/IcoNote.svg);
$ScrtPssdMngrImg: url(/images/premium/icoPssdMngr.svg);
$SecPasswordImg: url(/images/premium/IcoPassword.svg);
$SecCopyImg: url(/images/premium/BtnCopy.svg);
$SecTopArrowImg: url(/images/premium/IcoDrpDwn.svg);
$BtnEditImg: url(/images/premium/BtnEdit.svg);
$ScrtMenuIco: url(/images/premium/icoPssdMngr.svg);
$SupportMenuIco: url(/images/premium/IcoSupport.svg);
$LogoutMenuIco: url(/images/premium/IcoLogOut.svg);
$SecurityIco: url(/images/premium/IcoSecurity.svg);
$NotificationIco: url(/images/premium/IcoNotifi.svg);
$ShownPasswordIco: url(/images/premium/IcoShownPassword.svg);
$HiddenPasswordIco: url(/images/premium/IcoHiddenPassword.svg);
$ScrtImgHdHglght: url(/images/premium/ImgHdHglght.svg);
$Titlelogo: url(/images/premium/IcoPrm.svg);
$SupportImg: url(/images/premium/ImgSupport.svg);
$IcoSortBy: url(/images/premium/IcoSortBy.svg);
$IcoGrp: url(/images/Business/IcoGrp.svg);
$IcoGrpDisable: url(/images/Business/IcoGrpDisable.svg);
$APIKeyIco: url(/~/images/premium/IcoAPIKey.svg);
$EmailIco: url(/images/premium/IcoEmail.svg);
$IcoDwnld: url(/images/premium/IcoDwnld.svg);
$IcoIdea: url(/images/premium/icoIdea.svg);
$IcoQstnMrk: url(/images/premium/IcoQstnMrk.svg);
$IcoBack: url(/images/premium/BtnBack.svg);
$IcoSttngsActv: url(/images/premium/IcoSttngsActv.svg);
$TickMark: url(/images/premium/TickMark.svg);
$IcoDrpDwn: url(/images/premium/IcoDrpDwn.svg);
$IcoKMngmnt: url(/images/premium/IcoKMngmnt.svg);
$IcoUserDesk: url(/images/premium/IcoUser1.svg);
$IcoErr: url(/images/premium/IcoErr.svg);
$IcoSngOut: url(/images/premium/IcoSngOut.svg);
$IcoUnrdNtfctns: url(/images/premium/IcoUnrdNtfctns.svg);
$IcoRefresh: url(/images/premium/IcoRefresh.svg);
$IcoUnShare: url(/images/premium/IcoUnShare.svg);
$IcoContact: url(/images/premium/IcoContact.svg);
$IcoKeyShrng: url(/images/premium/IcoKeyShrng.svg);
$IcoDcmnt: url(/images/premium/IcoDcmnt.svg);
$IcoMsc: url(/images/premium/IcoMsc.svg);
$IcoPctr: url(/images/premium/IcoPctr.svg);
$ImgSnsCncts: url(/images/premium/ImgSnsCncts.svg);
$ImgSd: url(/images/premium/ImgSd.svg);
$IcoInf: url(/images/premium/IcoInf.svg);
$ImgFdbck: url(/images/premium/ImgFdbck.svg);
$IcoFldrAdd: url(/images/premium/IcoFldrAdd.svg);
$IcoArrow: url(/images/premium/IcoArrow.svg);
$IcoFb: url(/images/premium/mobile/IcoFb.svg);
$IcoInst: url(/images/premium/mobile/IcoInst.svg);
$IcoLn: url(/images/premium/mobile/IcoLn.svg);
$IcoTw: url(/images/premium/mobile/IcoTw.svg);
$ScrtCarddsktpImg: url(/images/premium/card-img-prm.svg);
$SecPasswordKeyImg: url(/images/premium/icoSggstPsswrd.svg);
$Icodrpdwn: url(/images/premium/IcoDropDwn.svg);
$successshrkyImg: url(/images/premium/ImgKShrdPrm.svg);
$SecCardImg: url(/images/premium/IcoScnCrdprm.svg);
$SavePasswordImg: url(/images/premium/ImgPsswrdSvdPrm.svg);
$SaveCardImg: url(/images/premium/ImgCrdSvdPrm.svg);
$SaveNotesImg: url(/images/premium/ImgNtSvdPrm.svg);
$SaveImg: url(/images/premium/BtnCopy.svg);
$IcoFltr: url(/images/premium/IcoFltr.svg);
$IcoComprzd: url(/images/premium/IcoComprzd.svg);
$IcoDefault: url(/images/premium/IcoRecDefault.svg);
$ImgNoslctMssg: url(/images/premium/ImgNoslctMssg.svg);
$IcoNew: url(/images/premium/IcoNew.svg);
$IcoUnread: url(/images/premium/IcoUnread.svg);
$IcoRply: url(/images/premium/IcoRply.svg);
$IcoClose: url(/images/premium/IcoClose.svg);
$IcoUnrd: url(/images/premium/IcoUnrd.svg);
$IcoRd: url(/images/premium/IcoRd.svg);
$colHprlnk: #87CA4E;
$colHovrbox: #EEF7E9;
$NewMsgBg: #86B96E;
$BtnFltr: url(/images/premium/BtnFltr.svg);
$SendActive: url(/images/premium/SendActive.svg);
$IcoSttngIndctr: url(/images/premium/IcoIndctr.svg);
$IcoFileLgng: url(/images/premium/IcoFileLgng.svg);