@import "_variables";
@import "../_index";

.empty-rcnt-fle-img {
    content: url(/images/premium/ImgNoFls.svg);
    padding-top: 20px;
}

.empty-rcnt-fld-img {
    content: url(/images/premium/ImgNoFldrs.svg);
    padding-top: 20px;
}
.ico-eye-sml {
    content: url(/images/premium/IcoEye.svg);
}