:root {
    --window-min-height: 770px;
    --window-min-width: 1230px;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: var(--window-min-width);
    min-height: var(--window-min-height);
    user-select: none;
    height: 100vh;
    background-color: white;
}

main {
    flex: 1;
}

.top-menu-section {
    margin: 2% 3%;
}

.body-content-section {
    margin: 20px;
    flex: 1 1 auto;
    overflow-y: auto;
}

.top-row {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

/*@media (max-width: 640.98px) {*/
@media (max-width: 768.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 769px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        height: 100vh;
        /*position: sticky;*/
        top: 0;
        max-width: 400px;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/*mobile view started*/

@media (max-width: 768px) {
    .page {
        min-width: 150px;
        max-width: 100%;
        height: auto;
        margin: 5%;
    }

    main {
        margin: 0;
    }

    .hide-overflow {
        overflow: hidden;
    }
}
